
<div id="main-container">
  <%= form_for @order, url: update_checkout_path(@order.state), html: {id: "checkout_form_#{@order.state}"} do |form| %>
      <%= render @order.state, form: form %>
  <% end %>
</div>