<div data-hook="admin_order_form_fields">
  <% if @line_item.try(:errors).present? %>
      <%= render 'admin/shared/error_messages', target: @line_item %>
  <% end %>

  <%= render "admin/orders/line_items", order: order %>

  <% if order.line_items.exists? %>
      <div class="alert alert-success" id="order-total" data-hook="order_details_total">
        Order Total: <strong class="order-total"><%= amount_with_currency(order.total) %></strong>
      </div>
  <% end %>
</div>
