<div>
  <div>
    <h4 class="mail-top-header" style="margin-bottom: 15px;">THANKS FOR SUBSCRIBED WITH US</h4>
  </div>
  <div>
    <p align="justify" style="margin-bottom: 0;">
      We are delighted you have chosen to create an account with us.In doing
      so,you can enjoy an easier and faster online experience every time you shop.
    </p>

    <p> Thank you for subscribe and we hope you will visit soon.</p>
  </div>

  <div style="margin: 25px 0;">
    <p align="justify"> As our thanks, please enjoy this great offer:</p>
  </div>

  <div class="offer">
    <div style="margin: 0 0 20px 0;">
      <h1 class="mail-top-header text-center">ENJOY AN EXTRA 10% OFF* your first Order</h1>
    </div>
    <div>
      <p class="text-center">
        Your next Lienesbeauty purchase of $100 or more
      </p>
    </div>
    <div style="padding: 10px; border: dashed 3px #333; max-width: 300px; margin: 30px auto 10px auto;">
      <h5>COUPON CODE: FIRST10</h5>
    </div>
  </div>
  <div>
    <p>P.S Remember, add your credit card to your wallet for faster checkout! </p>
  </div>
</div>