<div id="site-breadscrumb">
  <div class="site-breadscrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="<%= root_path %>">
            <%= t(:home) %>
          </a>
        </li>
        <%= raw breadscrumb %>
      </ol>
    </div>
  </div>
</div>