<section class="syftet-copyright clearfix">
  <div class="container">
    <div class="row">
      <!--<a href="#" class="scrollup" style="display: block;">-->
      <!--<span class="fa fa-angle-up"></span>-->
      <!--</a>-->

      <div class="copyright-link nav-menu hidden-xs"></div>
      <div class="text-copyright col-sm-6 col-md-6">
        COPYRIGHT © <%= Date.today.year %> - Lienes Beauty, London. powered by <a href="http://syftet.com">SYFTET</a>.
      </div>
      <div class="payment col-sm-6 col-md-6">
        <img src="http://venusdemo.com/wordpress/pi/wp-content/uploads/2017/06/payment.png" alt="Payment logo">
      </div>
    </div>
  </div>
</section>