<div class="social-share-button" data-title="" data-img="" data-url="" data-desc="" data-via="">
  <a rel="nofollow " data-site="twitter" class="ssb-icon ssb-twitter" title="Share to Twitter" href="https://twitter.com/intent/tweet?url=<%= request.original_url %>"></a>
  <a rel="nofollow " data-site="facebook" class="ssb-icon ssb-facebook" title="Share to Facebook" href="https://www.facebook.com/sharer.php?u=<%= request.original_url %>"></a>
  <a rel="nofollow " data-site="google_plus" class="ssb-icon ssb-google_plus" title="Share to Google+" href="https://plus.google.com/share?url=<%= request.original_url %>"></a>
  <a rel="nofollow " data-site="linkedin" class="ssb-icon ssb-linkedin" title="Share to Linkedin" href="https://www.linkedin.com/shareArticle?url=<%= request.original_url %>"></a>
</div>