<section class="row new-arrival">
  <div class="kc-row-container  kc-container">
    <div class="kc-wrap-columns">
      <div class="col-sm-3">
        <div class="kc-col-container">
          <div class="kc_shortcode kc_single_image effect-default">
            <a href="#" title="" target="_self"><img src="http://venusdemo.com/wordpress/pi/wp-content/uploads/2017/06/banner6.jpg" class="" alt="banner"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="kc-col-container">
          <div class="kc-elm kc-css-566045 kc-title-wrap ">

            <h3 class="public-title" style="margin-bottom: 50px; padding-bottom: 10px">
              <%= t(:new_arrival) %>
            </h3>
          </div>

          <div class="kc-elm kc-css-603181 divider_line line-height-one">
            <div class="divider_inner divider_line1">
            </div>
          </div>

          <div class="product-slider product-lists clearfix">
            <% @new_arrivals.each do |product| %>
                <div class="col-sm-3">
                  <%= render 'products/product', product: product %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    $(function () {
        $('.product-slider').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3,
            autoplay: false,
            dot: false
        });
    });
</script>