<section class="top-category-promo">
  <div class="row hidden-xs">
    <div class="col-sm-12">
      <div class="cat-col-container">
        <div class="col-sm-4">
          <div style="height: 50px; clear: both; width:100%;"></div>
          <div class="effect-v3">
            <a href="#" title="" target="_self"><img src="https://www.jamunaelectronics.com/portal_assets/wp-includes/img/banner/footer_banner_01.jpg" class="" alt="banner"  width="350"></a>
            <h4>
              Media
            </h4>
            <p>
              JEAL is always a step ahead. Explore our media section to watch the latest TV commercial, campaigns and events.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="height: 50px; clear: both; width:100%;"></div>
          <div class="effect-v6">
            <a href="#" title="" target="_self"><img src="https://www.jamunaelectronics.com/portal_assets/wp-includes/img/banner/footer_banner_02.jpg" class="" alt="banner"  width="350"></a>
            <h4>
              Our Support
            </h4>
            <p>
              JEAL’s support system is all ears. Write to us without any delay and we will be happy to assist you.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="height: 50px; clear: both; width:100%;"></div>
          <div class="box-shadow-v1 effect-v1">
            <a href="#" title="" target="_self"><img src="https://www.jamunaelectronics.com/portal_assets/wp-includes/img/banner/footer_banner_03.png"   class="" alt="banner" width="350"></a>
            <h4>
              Jamuna EID Freeze Mela
            </h4>
            <p>
              To avail the offer, click on the above banner.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
