<section class="top-category-promo">
  <div class="row hidden-xs">
    <div class="col-sm-12">
      <div class="cat-col-container">
        <div class="col-sm-4">
          <div style="height: 50px; clear: both; width:100%;"></div>
          <div class="effect-v3">
            <a href="#" title="" target="_self"><img src="http://venusdemo.com/wordpress/pi/wp-content/uploads/2017/02/banner2.jpg" class="" alt="banner"></a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="effect-v6">
            <a href="#" title="" target="_self"><img src="http://venusdemo.com/wordpress/pi/wp-content/uploads/2017/02/banner1.jpg" class="" alt="banner"></a>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="height: 50px; clear: both; width:100%;"></div>
          <div class="box-shadow-v1 effect-v1">
            <a href="#" title="" target="_self"><img src="http://venusdemo.com/wordpress/pi/wp-content/uploads/2017/02/banner3.jpg" class="" alt="banner"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>