<h1 class="public-header">
  <% if @admin_category.category.present? %>
      <%= link_to @admin_category.category.name, admin_categories_path(@admin_category.category) %> /
  <% end %>
  Add New Category
</h1>

<%= render 'form', admin_category: @admin_category %>