#modalLoginForm {
  color: #363636;
}

.link-forgot-password,
.link-back-login {
  font-size: 15px;
  color: #363636 !important;
}

.signup-wrapper,
.signin-wrapper {
  border: solid 1px #cccccc;
  padding: 15px;
  margin-bottom: 20px;
}

.signup-wrapper {
  margin-right: 5px !important;
}

.signin-wrapper {
  margin-left: 5px !important;
}