.site-breadscrumb {
  padding: 25px 0;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  margin-bottom: 20px;
  .breadcrumb {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333e48;
    text-transform: capitalize;
    background: transparent;
    li {
      a {
        color: #006c6f;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}