

.feedback-header {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
  color: #00a1a6 !important;
}

.feedback-wrap {
  .feedback-column {
    width: 550px;
    margin: auto;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }

}

#feedback-form {
  background: #ffffff;
  .main-form {
    h5 {
      color: #074E66;
      margin-bottom: 8px;
      font-size: 19px;
      font-family: 'Josefin Slab', serif;
      font-weight: 600;
    }

    .input-options {
      label {
        font-size: 14px;
        vertical-align: text-top;
        margin: 0;
      }

      .check_box_one {
        float: left;
        width: 31%;
      }

      .check_box {
        float: left;
        width: 23%;
      }

      .radio, .radio1, .radio2, .radio3 {
        position: relative;
        display: inline-block;
        margin-left: 15px;
      }
      .radio:first-child, .radio1:first-child, .radio2:first-child, .radio3:first-child {
        margin-left: 0;
        margin: 0;
      }
      .radio, .radio1, .radio2, .radio3 {
        padding-left: 25px;
        line-height: 25px;
        color: #404040;
        cursor: pointer;
      }
      .radio input[type="radio"], .radio1 input[type="radio"], .radio2 input[type="radio"], .radio3 input[type="radio"] {
        position: absolute;
        left: -9999px;
      }
      .radio-btns label {
        font-size: 14px;
        color: #A5A5A5;
        padding: 0 0 0 2px;
      }
      .radio i, .radio1 i, .radio2 i, .radio3 i {
        position: absolute;
        top: 5px;
        left: 0;
        display: block;
        width: 20px;
        height: 19px;
        outline: none;
        border: 3px solid #074E66;
        background: #fff;
        cursor: pointer;
        border-radius: 100%;
      }

      .radio input + i:after, .radio1 input + i:after, .radio2 input + i:after, .radio3 input + i:after {
        position: absolute;
        opacity: 0;
        transition: opacity 0.1s;
        -o-transition: opacity 0.1s;
        -ms-transition: opacity 0.1s;
        -moz-transition: opacity 0.1s;
        -webkit-transition: opacity 0.1s;
      }

      .radio input + i:after, .radio1 input + i:after, .radio2 input + i:after, .radio3 input + i:after {
        content: '';
        top: 6px;
        left: 7px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
      }

      .radio input:checked + i:after, .radio1 input:checked + i:after, .radio2 input:checked + i:after, .radio3 input:checked + i:after {
        opacity: 1;
      }

      .check_box {
        float: left;
        width: 23%;
      }

      .check_box_one {
        float: left;
        width: 31%;
      }

      /*** normal state ***/
      .radio i, .radio1 i, .radio2 i, .radio3 i {
        transition: border-color 0.3s;
        -o-transition: border-color 0.3s;
        -ms-transition: border-color 0.3s;
        -moz-transition: border-color 0.3s;
        -webkit-transition: border-color 0.3s;
      }

      /*** checked state ***/
      .radio input + i:after, .radio1 input + i:after, .radio2 input + i:after, .radio3 input + i:after {
        content: '';
        background: #333333;
        top: 4px;
        left: 4px;
        width: 6px;
        height: 6px;
        text-align: center;
        border-radius: 50%;
      }

      .radio input:checked + i, .radio1 input:checked + i, .radio2 input:checked + i, .radio3 input:checked + i {
        border: 3px solid #074E66;
        background: #fff;
      }
    }

    span.starRating {
      cursor: pointer;
    }

    .starRating:not(old) {
      display: inline-block;
      width: 7.5em;
      height: 1.5em;
      overflow: hidden;
      vertical-align: bottom;
    }

    .starRating:not(old) > input {
      margin-right: -100%;
      opacity: 0;
    }

    .starRating:not(old) > label {
      display: block;
      float: right;
      position: relative;
      background: url('star-off.png');
      background-size: contain;
      cursor: pointer;
    }

    .starRating:not(old) > label:before {
      content: '';
      display: block;
      width: 1.5em;
      height: 1.5em;
      background: image_url('star-on.png');
      background: url('star-on.png');
      background-size: contain;
      opacity: 0;
      transition: opacity 0.2s linear;
    }

    .starRating:not(old) > label:hover:before,
    .starRating:not(old) > label:hover ~ label:before,
    .starRating:not(:hover) > :checked ~ label:before {
      opacity: 1;
    }

    textarea {
      padding: 10px;
      font-size: 14px;
      border: 1px solid #e6e6e6;
      outline: none;
      color: #444444;
      margin-bottom: 20px;
      outline: none;
      resize: vertical;
      height: 100px;
      font-family: 'Lato', sans-serif !important;
    }
  }
}

.client-testimonial .testimonials-body .testimonials-info {
  display: inherit;
}


/* Social share button customization */
.social-share-btn {
  .social-share-button {
    .ssb-icon {
      background-size: 100%;
      width: 30px;
      height: 30px;
    }
  }
}
