#subsciption-offer {
  .modal-dialog {
    max-width: 730px;
  }
  .modal-content {
    padding: 0;
    background: asset-url('bg_newletters.jpg');
    .btn-cross {
      position: absolute;
      top: -1px;
      right: -1px;
      line-height: 19px;
      padding: 3px 5px;
      background: #c34322;
      color: #ffffff !important;
      z-index: 100;
    }
    .popupnewsletter-widget {
      .pnew-head {
        width: 65%;
        h3 {
          font-size: 22px;
          padding-bottom: 20px;
          font-weight: bold;
        }
        .description {
          padding-bottom: 20px;
          color: #707070;
          font-size: 14px;
        }
      }
      .subscription-popup-form {
        margin: 10px 0;
        .input-group {
          width: 70%;
        }
        input[type='email'] {
          width: calc(100% - 101px);
          border-right: none;
        }
        input[type='submit'] {
          background-color: #00a1a6;
          color: #ffffff;
          border-radius: 0;
          &:hover {
            background-color: #006c6f;
            cursor: pointer;
          }
        }
      }
      #popup-socials-widget {
        padding: 20px 0;
        background: transparent;
        margin: 0;
      }
    }
  }
}

.offer-highlight {
  background-color: tomato;
  color: #fff;
  border-radius: 0px;
}

/* Responsive design */
@media (max-width: 480px) {
  #subsciption-offer .modal-content .popupnewsletter-widget .pnew-head {
    width: 100%;
    h3 {
      font-size: 20px;
      text-align: center;
      line-height: 25px;
      padding-bottom: 0;
    }
  }
  #subsciption-offer .modal-content .popupnewsletter-widget .subscription-popup-form .input-group {
    width: 100%;
  }

  /* Galary responsive code */
  .client-testimonial ul li.loaded {
    width: 100%;
    a {
      img {
        width: 100%;
        display: block;
      }
    }
  }
  .text-shadow-title {
    font-size: 20px !important;
    font-weight: inherit !important;
  }
}