.toggle-overlay-container {
  .search-box {
    .input-group {
      .form-control {
        height: 54px;
        background: #fff;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-left: 30px;
        border: 1px solid #00a1a6;
        border-right: none;
        color: #aaa;
        font-size: 16px;
        font-weight: 300;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
    .input-group-addon {
      background: #fff;
      border-radius: 0 25px 25px 0;
      font-size: 16px;
      font-weight: 300;
      padding: 2px 20px !important;
      border: 1px solid #00a1a6;
      border-right: none;
      border-left: none;
      color: #666;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        background: #dcdcdc;
        left: 0;
        top: 50%;
        width: 1px;
        height: 25px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }

    .input-group-btn {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      background-color: #00a1a6;
      border: 1px solid #00a1a6;
    }

    .btn-search input {
      background: transparent;
      border: none;
      color: #ffffff;
    }

    select {
      border-radius: 0 0 0 !important;
      border: none !important;
      background: transparent !important;
      box-shadow: 0 0 0 !important;
      outline: none;
    }
  }
}