<div class="row">

  <div data-hook="ship_address_wrapper" class="col-md-12">
    <div class="panel panel-default clearfix">
      <div class="panel-heading">
        <h1 class="panel-title">
          <%= t(:shipping_address) %>
        </h1>
      </div>

      <div class="panel-body">
        <%= f.fields_for :ship_address, (@user.ship_address || Address.new) do |sa_form| %>
            <%= render :partial => 'admin/shared/address_form', :locals => {:f => sa_form, :type => "shipping"} %>
        <% end %>
      </div>
      <div class="col-md-12 text-center">
      <%= render partial: 'admin/shared/edit_resource_links', locals: {collection_url: admin_users_url} %>
      </div>
    </div>
  </div>
</div>
