<ul class="nav nav-sidebar">
  <li class="sidebar-menu-item">
    <%= link_to admin_categories_path do %>
        <i class="fa fa-times"> </i>
        <span class="text"> Categories </span>
    <% end %>
  </li>
</ul>


<%# if can? :admin, Product %>
<ul class="nav nav-sidebar">
  <%#= main_menu_tree t(:products), icon: "th-large", sub_menu: "product", url: "#sidebar-product" %>
</ul>
<%# end %>