<tr class="cart_item">

  <td class="product-remove">
    <a href="" class="remove">×</a>
  </td>

  <td class="product-thumbnail">
    <a>
      <img src="//venusdemo.com/wordpress/pi/wp-content/uploads/2017/03/26-85x95.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" height="95" width="85">
    </a>
  </td>

  <td class="product-name">
    <a>Cactus Virginia</a>
  </td>

  <td class="product-price">
    <span class="price-amount amount">
      <span class="price-currency-symbol">$</span>
      360.0
    </span>
  </td>

  <td class="product-quantity">
    <div class="qty add-to-cart-select-quantity quantity-adder quantity">
      <label for="qty" class="quantity-selector">Qty:</label>
      <div class="quantity-number">
        <span class="add-down add-action">-</span>
        <input name="name" maxlength="12" value="2" title="Qty" class="input-text qty" type="text">
        <span class="add-up add-action">+</span>
      </div>
    </div>
  </td>

  <td class="product-subtotal">
    <span class="price-amount amount">
      <span class="price-currency-symbol">$</span>
      720.0
    </span>
  </td>
</tr>