<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h2>About Us</h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right">
            <p>
              <strong>Orna House</strong> Launched in 2018, <%= link_to 'ornahousebd.com', root_path, class: 'primary-color' %> is online & Store
              based daily shopping Choice. Our selling destination present in
              <b>Bangladesh</b>. Supported by a wide range of tailored marketing,
              data, and service solutions, the pioneering ecommerce ecosystem in
              Bangladesh. We sell over 500 brands, serving 1 million
              consumers with 1 million products, <b>Orna House</b> offers a diverse
              assortment of products in categories ranging from consumer
              electronics to Health & beauty, fashion and groceries.
            </p>

            <p>
              <b>Orna House</b> focused on providing an excellent customer experience &
              provide genuine branded products , We do offer multiple payment
              methods including cash-on-delivery, Paypal, bKash comprehensive customer
              care and hassle-free returns. <b>Orna House</b> is owned by
              <a href="http://syftet.com" class="primary-color" target="_blank">Syftet</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>