<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h2>About Us</h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right">
            <p>
              Congratulations! Your smart-shopping skills have led you to an amazing online shopping destination where
              you'll find shoes, clothing, bags, accessories and more! An incredible eye for what's next in fashion. A
              passionate drive to exceed expectations. For more than 100 years, we've worked to deliver the best
              possible shopping experience, helping our customers express their style—not just buy fashion. There's
              nothing quite like the feeling of finding your favorite brands all in one place! The thrill of the hunt
              and the joy of receiving more for your money is a high that just can't be denied. Feed your need for brand
              names at great prices with the convenience of online shopping. Stimulate your wardrobe with fresh, new
              styles, and proudly exhibit your astounding designer fashion, top-notch performance gear and
              casual/contemporary fashion style for all to see.
            </p>

            <p>
              Share the gift of style with the entire family! At BrandCruz.com, we've got all of your favorite brands
              plus brands that the whole family will adore. Go on a daily guilt-free shopping spree as you indulge in
              brands you love. Competitively priced Nike® clothing, awesome Oakley® sunglasses, fabulously priced Nine
              West Shoes, and comfortable Clarks® shoes are just a few of the incredible brands and products that
              BrandCruz.com has to offer.
            </p>

            <p>
              Treat yourself to more than you ever imagined by easy shopping with us! It feels so good to score a pair
              of Stuart Weitzman™ boots or Donald J Pliner™ heels. With so many fabulous brands to choose from, it'll be
              hard to keep yourself from having a luxurious fashion overdose! Keep your cool, stay focused and keep
              saving with our daily deals and the soothing feeling of getting even more for less.
            </p>

            <p>
              With the start of every morning comes the promise of a new sale and daily deal. Why spend your time
              digging through racks when you can shop easily and safely at BrandCruz.com! Stop surfing the web and
              succumb to the savings that BrandCruz.com has to offer. With such a huge variety of brand names, you won't
              need to look elsewhere to satisfy your cravings. Appease your shopping urges by saving on all the
              high-quality brand names you love. Score on the Style, Score on the Price at BrandCruz.com!
              BrandCruz, Inc. (JWN) is publicly traded on the FASHION CODE LLC.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>