<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h2>Discount Coupon Code</h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right">
            <div class="coupon-lists">
              <ul>
                <%# AppSetting::OFFER_ITEMS.each do |offer| %>
                    <li class="col-sm-6">
                      <div class="coupon-item">
                        <p class="gothamNarrowBold">  Home  <%#= offer[:menu] %> </p>

                        <h5 class="gothamNarrowMedium">  Furniture  <%#= offer[:category] %> </h5>

                        <h3 class="gothamHTFBold mark-text">
                          Up to Extra 25% Off Living Room Furniture
                          <%#= raw offer[:title] %>
                        </h3>

                        <p>
                          Offer applies on select items Discount applies at checkout
                          <%#= raw offer[:description] %>
                        </p>
                        <a class="btn btn-block shop-now-button text-center" href="<%#= offer[:link] %>">
                          SHOP NOW
                        </a>
                      </div>
                    </li>
                <li class="col-sm-6">
                  <div class="coupon-item">
                    <p class="gothamNarrowBold">  Home  <%#= offer[:menu] %> </p>

                    <h5 class="gothamNarrowMedium">  Furniture  <%#= offer[:category] %> </h5>

                    <h3 class="gothamHTFBold mark-text">
                      Up to Extra 25% Off Living Room Furniture
                      <%#= raw offer[:title] %>
                    </h3>

                    <p>
                      Offer applies on select items Discount applies at checkout
                      <%#= raw offer[:description] %>
                    </p>
                    <a class="btn btn-block shop-now-button text-center" href="<%#= offer[:link] %>">
                      SHOP NOW
                    </a>
                  </div>
                </li>
                <li class="col-sm-6">
                  <div class="coupon-item">
                    <p class="gothamNarrowBold">  Home  <%#= offer[:menu] %> </p>

                    <h5 class="gothamNarrowMedium">  Furniture  <%#= offer[:category] %> </h5>

                    <h3 class="gothamHTFBold mark-text">
                      Up to Extra 25% Off Living Room Furniture
                      <%#= raw offer[:title] %>
                    </h3>

                    <p>
                      Offer applies on select items Discount applies at checkout
                      <%#= raw offer[:description] %>
                    </p>
                    <a class="btn btn-block shop-now-button text-center" href="<%#= offer[:link] %>">
                      SHOP NOW
                    </a>
                  </div>
                </li>
                <li class="col-sm-6">
                  <div class="coupon-item">
                    <p class="gothamNarrowBold">  Home  <%#= offer[:menu] %> </p>

                    <h5 class="gothamNarrowMedium">  Furniture  <%#= offer[:category] %> </h5>

                    <h3 class="gothamHTFBold mark-text">
                      Up to Extra 25% Off Living Room Furniture
                      <%#= raw offer[:title] %>
                    </h3>

                    <p>
                      Offer applies on select items Discount applies at checkout
                      <%#= raw offer[:description] %>
                    </p>
                    <a class="btn btn-block shop-now-button text-center" href="<%#= offer[:link] %>">
                      SHOP NOW
                    </a>
                  </div>
                </li>
                <%# end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>