<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h2>Shipping & Delivery </h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right">
            <h1> Shipping and Delivery Questions </h1>

            <h3> BrandCruz.com customers enjoy free shipping, free returns, and 24/7 customer service! </h3>

            <p>
              BrandCruz Customer get <b>FAST, FREE SHIPPING</b> on every order with <b> NO ORDER MINIMUMS! </b>
            </p>

            <p>
              If you are not <b> 100% satisfied </b> with your purchase for any reason, just email us at
              <a href="mailto:return@brandcruz.com">return@brandcruz.com</a> to print out a FREE return label.
              <b> You have 60 days to return</b> an item to us in its original condition.
            </p>

            <div class="question-lists">
              <div class="question">

                <div>
                  <b> Q: When will I receive my order? </b>
                </div>
                <b>A:</b> Below is a list of estimated shipping times for in-stock merchandise to be shipped from our
                warehouses and delivered to you.* Your order confirmation email will include an estimated shipment
                date(s)
                based on the delivery method selected when the order was placed. 'Business days' are defined as
                Monday-Friday, excluding holidays. <b> Please note:</b> when your items are shipped, we will use the
                most
                appropriate delilvery method, depending on the weight and shipping destination of your package.
                <div class="table-wrapper mt5 mb10">
                  <p><b> Standard Shipping Times </b></p>
                  <table class="shipping-table">
                    <thead>
                    <tr>
                      <th>Express Order Received By</th>
                      <th>Express Order</th>
                      <th>Expected Delivery</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td> Sunday</td>
                      <td>Tuesday</td>
                      <td>3-6 business days later</td>
                    </tr>
                    <tr>
                      <td> Monday</td>
                      <td>Wednesday</td>
                      <td>3-6 business days later</td>
                    </tr>
                    <tr>
                      <td> Tuesday</td>
                      <td>Thursday</td>
                      <td>3-6 business days later</td>
                    </tr>
                    <tr>
                      <td> Wednesday</td>
                      <td>Friday</td>
                      <td>3-6 business days later</td>
                    </tr>
                    <tr>
                      <td> Thursday</td>
                      <td>Monday</td>
                      <td>3-6 business days later</td>
                    </tr>
                    <tr>
                      <td> Friday</td>
                      <td>Tuesday</td>
                      <td>3-6 business days later</td>
                    </tr>
                    <tr>
                      <td> Saturday</td>
                      <td>Tuesday</td>
                      <td>3-6 business days later</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <p>
                  Expedited Shipping Times Orders placed by 5:00 PM EST for in-stock merchandise with expedited shipping
                  (Premium/Express) are processed the following business day.
                </p>

                <div class="table-wrapper mt5 mb10">
                  <p><b> Premium Shipping </b></p>
                  <table class="shipping-table">
                    <thead>
                    <tr>
                      <th>Express Order Received By</th>
                      <th>Express Order</th>
                      <th>Expected Delivery</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td> Sunday before 5:00 EST</td>
                      <td>Monday</td>
                      <td>Wednesday</td>
                    </tr>
                    <tr>
                      <td> Monday before 5:00 EST</td>
                      <td>Tuesday</td>
                      <td>Thursday</td>
                    </tr>
                    <tr>
                      <td> Tuesday before 5:00 EST</td>
                      <td>Wednesday</td>
                      <td>Friday</td>
                    </tr>
                    <tr>
                      <td> Wednesday before 5:00 EST</td>
                      <td>Thursday</td>
                      <td>Monday</td>
                    </tr>
                    <tr>
                      <td> Thursday before 5:00 EST</td>
                      <td>Friday</td>
                      <td>Tuesday</td>
                    </tr>
                    <tr>
                      <td> Friday</td>
                      <td>Monday</td>
                      <td>Wednesday</td>
                    </tr>
                    <tr>
                      <td> Saturday</td>
                      <td>Monday</td>
                      <td>Wednesday</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <div class="table-wrapper mt5 mb10">
                  <p><b> Express Shipping </b></p>
                  <table class="shipping-table">
                    <thead>
                    <tr>
                      <th>Express Order Received By</th>
                      <th>Express Order</th>
                      <th>Expected Delivery</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td> Sunday before 5:00 EST</td>
                      <td>Monday</td>
                      <td>Tuesday</td>
                    </tr>
                    <tr>
                      <td> Monday before 5:00 EST</td>
                      <td>Tuesday</td>
                      <td>Wednesday</td>
                    </tr>
                    <tr>
                      <td> Tuesday before 5:00 EST</td>
                      <td>Wednesday</td>
                      <td>Tuesday</td>
                    </tr>
                    <tr>
                      <td> Wednesday before 5:00 EST</td>
                      <td>Thursday</td>
                      <td>Friday</td>
                    </tr>
                    <tr>
                      <td> Thursday before 5:00 EST</td>
                      <td>Friday</td>
                      <td>Monday</td>
                    </tr>
                    <tr>
                      <td> Friday</td>
                      <td>Monday</td>
                      <td>Tuesday</td>
                    </tr>
                    <tr>
                      <td> Saturday</td>
                      <td>Monday</td>
                      <td>Tuesday</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <p>
                  Some things to keep in mind: <br/>
                  <b> Beauty Items with Restrictions on Air Shipping: </b> Restricted items include aerosols,
                  pressurized spray cans and alcohol-based products (hairspray, nail polish, nail polish remover,
                  shaving cream, etc.). Due to air transport restrictions and regulations, these items are required by
                  the U.S. Department of Transportation to be shipped by Standard Ground Shipping only. These restricted
                  items are not eligible for Premium or Overnight Shipping.
                </p>
              </div>
              <div class="question">
                <div><b> Q: How can I track my order? </b></div>
                <b> A: </b> After placing an order, you can view the order status 24 hours a day by simply clicking on
                the "My Account" link at the top right corner of every page of Brandcruz.com. From there, you will be
                able to view information about your order.
              </div>
              <div class="question">
                <div><b> Q: Why is my order arriving in multiple shipments? </b></div>
                A: We make every effort to ship your items together. However, there are times that we may have to divide
                your order into multiple shipments. Common reasons for dividing an order are:
                <ul>
                  <li> Item availability.</li>
                  <li> Shipping from different fulfillment centers.</li>
                  <li> Shipping direct from the vendor.</li>
                </ul>
                If your order has to be divided, we will send you a confirmation email advising you of:
                <ul>
                  <li> The expected ship dates.</li>
                  <li> The items expected to ship in each shipment.</li>
                </ul>
                <b> Please note: </b> when we divide an order into multiple shipments, you are not charged an additional
                fee. We simply divide the shipping cost provided at checkout across the multiple shipments when your
                order is charged. You are not charged until your order ships. Also, the original authorization hold will
                remain until all shipments have been completed.
              </div>
              <div class="question">
                <div><b> Q: What is BrandCruz.com's Return Policy? </b></div>
                <b> A: </b> Yes. Brandcruz.com strives to fulfill all of the orders that we process within the quoted
                time-frames BrandCruz gladly stands behind the quoted delivery time-frames associated with each of the
                shipping types that we offer. You have 60 days to return an item to us in its original condition.
                Brandcruz.com accepts no responsibility for packages that do not arrive within a stated time-frame due
                to extreme weather conditions or a force majeure.
              </div>
              <div class="question">
                <div><b> Q: How do I exchange merchandise? </b></div>
                <b> A: </b> We want you to love your Brandcruz purchase. If, for any reason, you need to exchange an
                item, we will gladly assist you. Please contact us at
                <a href="mailto:return@brandcruz.com">return@brandcruz.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>