<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h2>FAQ </h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right">
            <div class="faq-topics">
              <h3> Shipping and Delivery Questions </h3>
              <ul>
                <li>
                  <a href="#accepted-payment-format">What forms of payment do you accept?</a>
                </li>
                <li>
                  <a href="#item-out-of-stock">The item I want is out of stock in my size, will it be restocked?</a>
                </li>
                <li>
                  <a href="#money-order">How do I order items with Cashier's Checks or Money Orders?</a>
                </li>
                <li>
                  <a href="#safe-to-user-credit-card">Is it safe to use my credit card on your site?</a>
                </li>
                <li>
                  <a href="#status-order">What is the status of my order?</a>
                </li>
                <li>
                  <a href="#change-or-cancel-order">How do I change or cancel my order?</a>
                </li>
                <li>
                  <a href="#ship-to-po-boxes">Do you ship to PO Boxes or Military APO/FPO addresses?</a>
                </li>
                <li>
                  <a href="#order-ship-to-alaska">How are orders shipped and delivered to Alaska or Hawaii?</a>
                </li>
                <li>
                  <a href="#back-order">Do you do back orders?</a>
                </li>
                <li>
                  <a href="#safe-to-use-credit-card-online">Is it safe to use my debit card online?</a>
                </li>
                <li>
                  <a href="#have-catalog">Do you have a catalog?</a>
                </li>
                <li>
                  <a href="#sign-up-for-daily-deals">Why should I sign up for your Daily Deals Email?</a>
                </li>
                <li>
                  <a href="#charge-sales-tax">Do you charge sales tax on any item?</a>
                </li>
                <li>
                  <a href="#internet-browser-recommendation">Which Internet browsers do you recommend/support?</a>
                </li>
                <li>
                  <a href="#what-are-cookies">What are cookies? Do I need to enable cookies on my browser to shop at
                    BrandCruz.com?</a>
                </li>
                <li>
                  <a href="#combine-multiple-order">Can I combine multiple orders or add additional items to my order
                    once it has been placed?</a>
                </li>
                <li>
                  <a href="#change-shipping-address">How do I change the shipping address or cancel my order?</a>
                </li>
                <li>
                  <a href="#price-match">Do you price match?</a>
                </li>
                <li>
                  <a href="#item-no-longer-available-on-cart">Why was the item in my shopping cart no longer available
                    at checkout?</a>
                </li>
                <li>
                  <a href="#item-no-longer-sale-today">Why is the sale item that I had in my shopping cart yesterday no
                    longer on sale today?</a>
                </li>
                <li>
                  <a href="#authorize-to-sale-brand">Are you authorized to sell the brands you advertise on your
                    site?</a>
                </li>
                <li>
                  <a href="#sell-factory-second">Do you sell factory seconds?</a>
                </li>
                <li>
                  <a href="#authorization-failure-error">When placing an order I get an error message stating that there
                    has been an authorization failure. What went wrong?</a>
                </li>
                <li>
                  <a href="#contact-for-additional-assistance">How can I contact BrandCruz.com for additional
                    assistance?</a>
                </li>
                <li>
                  <a href="#coupon-offer">Does BrandCruz.com offer coupons?</a>
                </li>
                <li>
                  <a href="#garment-care-tips">What are some garment care tips for my new clothing purchase?</a>
                </li>
                <li>
                  <a href="#ship-internationally">Do you ship internationally?</a>
                </li>
                <li>
                  <a href="#international-credit-cards">Does BrandCruz accept international credit cards?</a>
                </li>
                <li>
                  <a href="#received-damaged">I received Damaged, Defective, or Wrong Item(s), what do I do?</a>
                </li>
              </ul>
            </div>

            <div class="question-lists">
              <div class="question" id="accepted-payment-format">
                <b> Q: What forms of payment do you accept? </b> <br/>
                <b> A: </b> BrandCruz.com currently accepts Visa, MasterCard, Discover, American Express.
              </div>

              <div class="question" id="item-out-of-stock">
                <b>Q: The item I want is out of stock in my size, will it be restocked? </b> <br/>
                <b> A: </b> The majority of the inventory consists of closeouts, discontinued styles, and hard-to-find
                styles. Quantities are limited and the option of restocking is not readily available. We recommend
                that if you see something you like, place your orders as soon as possible!
              </div>

              <div class="question" id="money-order">
                <b> Q: How do I order items with Cashier's Checks or Money Orders?</b> <br/>
                <b> A: </b> At this time we do not accept Cashier's Checks or Money Orders.
              </div>

              <div class="question" id="safe-to-user-credit-card">
                <b>Q: Is it safe to use my credit card on your site? </b> <br/>
                <b> A: </b> Shopping at BrandCruz.com is safe. The BrandCruz.com Safe Shopping Guarantee backs every
                credit card purchase you make at BrandCruz.com, and our site is protected by SSL encryption technology.
                Learn more about the BrandCruz.com Safe Shopping Guarantee here.
              </div>

              <div class="question" id="status-order">
                <b>Q: What is the status of my order? </b> <br/>
                <b> A: </b> After placing an order, you can view the order status 24 hours a day by simply clicking on
                the "My Account" link at the top right corner of every page of Brandcruz.com. From there, you will be
                able to view information about your order.
              </div>

              <div class="question" id="change-or-cancel-order">
                <b>Q: How do I change or cancel my order? </b> <br/>
                <b> A: </b> Please contact the our Customer Loyalty Team immediately if you need to change or cancel
                your order. Please be advised that some orders are shipped very soon after placement, and it may not
                always be possible to cancel.
              </div>

              <div class="question" id="ship-to-po-boxes">
                <b>Q: Do you ship to PO Boxes or Military APO/FPO addresses? </b> <br/>
                <b> A: </b> Shipments can be sent to both PO Boxes and Military APO/FPO addresses. Please allow
                additional time for orders shipped to these addresses
              </div>

              <div class="question" id="order-ship-to-alaska">
                <b>Q: How are orders shipped and delivered to Alaska or Hawaii? </b> <br/>
                <b> A: </b> All shipping is free and can take 5-10 business days for arrival to these locations.
              </div>

              <div class="question" id="back-order">
                <b>Q: Do you do back orders? </b> <br/>
                <b> A: </b> BrandCruz.com does not do back orders.
              </div>

              <div class="question" id="safe-to-use-credit-card-online">
                <b>Q: Is it safe to use my debit card online? </b> <br/>
                <b> A: </b> Yes. And please note: If you choose to pay by debit card, the amount you charge will be put
                on "hold", meaning it will not be available to you once your shipment is planned. Once your order is
                shipped, the amount of the transaction will be withdrawn from your account and the original "hold" will
                be voided.
              </div>

              <div class="question" id="have-catalog">
                <b>Q: Do you have a catalog? </b> <br/>
                <b> A: </b> Currently, BrandCruz.com has a 'virtual' catalog. The entire product selection is online; we
                do not have a physical catalog.
              </div>

              <div class="question" id="sign-up-for-daily-deals">
                <b>Q: Why should I sign up for your Daily Deals Email? </b> <br/>
                <b> A: </b> By signing up for our email, you'll be among the first to know about special promotions, the
                availability of new brands, limited-time special offers, coupons and many other exciting features to
                help you get the most out of what BrandCruz.com has to offer! We never rent, sell, or share your
                personal information. For further details please view our privacy policy.
              </div>

              <div class="question" id="charge-sales-tax">
                <b>Q: Do you charge sales tax on any item? </b> <br/>
                <b> A: </b> BrandCruz.com, LLC is required by law to collect sales tax on orders shipped to Alabama,
                Arizona, Arkansas, California, Colorado, Connecticut, District of Columbia, Florida, Georgia, Hawaii,
                Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Maryland, Massachusetts, Michigan,
                Minnesota, Mississippi, Missouri, Nebraska, Nevada, New Jersey, New Mexico, New York, North Carolina,
                North Dakota, Ohio, Oklahoma, Pennsylvania, Rhode Island, South Carolina, South Dakota, Tennessee,
                Texas, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin and Wyoming. If you are shipping to
                any of these states, the appropriate charges will be added to your merchandise total and displayed on
                your final order confirmation.
                Important Sales Tax Information
                We do not collect sales or use taxes in all states. For states imposing sales or use taxes, your
                purchase is subject to use tax unless it is specifically exempt from taxation. Your purchase is not
                exempt merely because it is made over the Internet or by other remote means. Many states require
                purchasers to file a sales/use tax return at the end of the year reporting all of the taxable purchases
                that were not taxed and to pay tax on those purchases. Details of how to file these returns may be found
                at the websites of your respective taxing authorities.
                Alabama
                BrandCruz.com, LLC collects the simplified sellers use tax on sales to Alabama customers and remits the
                tax on behalf of Alabama customers to the Alabama Department of Revenue. The Alabama simplified sellers
                use tax program account number is: SSU-R009642239.
              </div>

              <div class="question" id="internet-browser-recommendation">
                <b>Q: Which Internet browsers do you recommend/support? </b> <br/>
                <b> A: </b> In order to view this website correctly, we recommend using Firefox. We also support
                Internet Explorer 10 and above (for Windows users), or Safari (for Macintosh users).
              </div>

              <div class="question" id="what-are-cookies">
                <b>Q: What are cookies? Do I need to enable cookies on my browser to shop at BrandCruz.com? </b> <br/>
                <b> A: </b> A cookie is a small amount of data that is sent to your browser from a web site and is
                stored on your computer's hard drive. If your browser's preferences allow it (most browsers are
                installed with cookies enabled), each web site can send its own cookie to your browser. To protect your
                privacy, cookies do not store personal information but instead use anonymous unique identifiers. Each
                web site can only access the cookie they have sent to your hard drive, not the cookies sent by other web
                sites.
                You need to enable cookies on your browser to enjoy all the shopping features at BrandCruz.com. Cookies
                need to be enabled on your browser so you can add products to your shopping cart and to access your
                BrandCruz.com account information. If you share your computer with others and you do not want them to
                have access to your account information, be sure to log out before leaving your computer unattended. You
                can log out by clicking on "My Account" link at the top of the page. Then locate the "Logout" link at
                the top right, and click on it.For more information about how BrandCruz.com uses cookies, see our
                privacy policy.
              </div>

              <div class="question" id="combine-multiple-order">
                <b>Q: Can I combine multiple orders or add additional items to my order once it has been placed? </b>
                <br/>
                <b> A: </b> Unfortunately we are unable to combine multiple orders or add additional items to an order
                once it has been placed. We are only able to cancel orders and/or cancel selected item(s) before the
                order has shipped and you must call to cancel your order. Once an order is canceled, it may take up to
                24 hours before you are able to place a new order for the same items. Please note, if you cancel your
                order, you run the risk that your selected merchandise will be out of stock.
              </div>
              <div class="question" id="change-shipping-address">
                <b>Q: How do I change the shipping address or cancel my order? </b> <br/>
                <b> A: </b> Please contact BrandCruz.com's Customer Loyalty Team immediately if you need to change the
                shipping address or cancel your order. Please be advised that some orders are shipped very soon after
                order placement and it will not always be possible to make changes to the shipping address and/or cancel
                the order. BrandCruz.com's Customer Loyalty Team hours are: 6AM - 8PM PST. (Due to security reasons, we
                cannot change addresses or cancel orders over email or social media.)
              </div>

              <div class="question" id="price-match">
                <b>Q: Do you price match? </b> <br/>
                <b> A: </b> yes absolutely, please contact us before you place any order.
              </div>

              <div class="question" id="item-no-longer-available-on-cart">
                <b>Q: Why was the item in my shopping cart no longer available at checkout? </b> <br/>
                <b> A: </b> The selection on our site is live and reflects what is in stock at that moment. Placing an
                item in your shopping cart does not guarantee your right to purchase that item. Until you have completed
                the checkout process, another customer may purchase the item even if it is in your cart. If that
                happens, you will receive a message on the shopping cart page informing you that the item is no longer
                available and that you should remove it from your cart.
              </div>

              <div class="question" id="item-no-longer-sale-today">
                <b>Q: Why is the sale item that I had in my shopping cart yesterday no longer on sale today? </b> <br/>
                <b> A: </b> Your shopping cart will not secure sale prices for you. If you place an item in your cart at
                a sale price, the price will change once the sale has expired. We recommend that if you see something
                you like, place your orders as soon as possible!
              </div>

              <div class="question" id="authorize-to-sale-brand">
                <b>Q: Are you authorized to sell the brands you advertise on your site? </b> <br/>
                <b> A: </b> Yes, BrandCruz.com is an authorized online retailer of all brands sold on our site, and we
                only sell original merchandise (no knock-offs or fakes here!). For a full list of brands that we carry,
                please visit our Brands page.
              </div>

              <div class="question" id="sell-factory-second">
                <b>Q: Do you sell factory seconds? </b> <br/>
                <b> A: </b> Never -- we only buy first-quality. All of our merchandise comes directly to us from the
                brand manufacturers or one of their authorized dealers. We stand behind all of our merchandise, so
                please contact us in the event you feel something you received has a manufacturer's defect.
              </div>

              <div class="question" id="authorization-failure-error">
                <b>Q: When placing an order I get an error message stating that there has been an authorization failure.
                  What went wrong? </b> <br/>
                <b> A: </b> Please double check the credit card number and expiration date on your card. Also, please be
                aware that we currently accept Visa, MasterCard, Discover, and American Express for credit card payment.
                Sometimes your financial institution may place a temporary security hold on your card to ensure it is
                really you trying to make the purchase. This is especially common if you don't order online very often,
                if you've placed several online orders in a short amount of time, or if your card is very new. We
                recommend calling your bank to let them know you're trying to place an order so they can confirm your
                identity and clear your card for use again. In any case, since these error messages tend to come from
                your bank's servers and not from our site, we recommend calling your bank first for further information
                if you have received an authorization error.
              </div>

              <div class="question" id="contact-for-additional-assistance">
                <b>Q: How can I contact BrandCruz.com for additional assistance? </b> <br/>
                <b> A: </b> If you need help with your order please feel free to email us or call the BrandCruz.com
                Customer Loyalty Team.
              </div>

              <div class="question" id="coupon-offer">
                <b>Q: Does BrandCruz.com offer coupons? </b> <br/>
                <b> A: </b> Every day BrandCruz.com offers special savings on all of the best brand names. You can get
                your guilt-free daily fix for less at BrandCruz.com vs. your local department store. Sign up for Email,
                follow us @ShopBrandCruz on Twitter, friend us on Facebook, and check back regularly for special coupon
                codes and promotions. See the BrandCruz.com coupons page for more information.
              </div>

              <div class="question" id="garment-care-tips">
                <b>Q: What are some garment care tips for my new clothing purchase? </b> <br/>
                <b> A: </b> So, you just found an awesome deal on BrandCruz! Here are some great tips on how to help
                keep a variety of fabrics looking their best and lengthen their life to get the most out of your score!
                Acetate: Most items made of acetate are dry-clean only, but some may be hand-washed in lukewarm water.
                Do not twist the fabric. Iron while the fabric is damp. Press the inside of the garment using a
                low-temperature setting. Use a pressing cloth when ironing the outside.
                Acrylic knit: Most acrylic knit garments can be machine-washed. Read the label, and check for the proper
                drying option. Some knits retain their shapes best if reshaped and dried flat.
                Cashmere: Check the care label before laundering cashmere. To hand-wash, use a mild detergent or
                shampoo. Gently squeeze the water through the garment, then rinse until the water runs clear. Do not
                wring or twist. Squeeze out excess water. To dry, lay flat on a towel, away from sunlight or heat.
                Cotton: Cotton holds up well to home laundering. Remove the garment from the dryer promptly to reduce
                wrinkling. Press using spray starch for the crispness of a laundered shirt.
                Cotton blend: Dry cotton-blend garments using your dryer's permanent-press or low-heat cycle, and remove
                immediately to reduce wrinkling. Touch up with a steam iron; starch for a professionally laundered look.
                Linen: Most linen garments need to be dry-cleaned or hand-washed. Follow the instructions on the care
                label. To touch up or press, use a steam iron on a linen setting for a crisp look.
                <br/>
                <b> Nylon: </b> Machine-wash nylon garments in warm water. Use a low-temperature setting when
                tumble-drying, and
                include a dryer sheet to reduce static electricity. Use a warm iron to press, if necessary.
                Polyester: Read the label. Usually polyester items can be machine-washed (cool) and dried (low). Check
                the label to see if air-drying is recommended. Touch up with a cool -- never hot -- iron, if necessary.
                <br/>
                <b> Rayon: </b> Make sure to read the care label for rayon clothing. Launder in cool water and a mild
                detergent. When machine-washing, use the gentle cycle and promptly remove garments after washing. When
                hand-washing, do not wring or twist the garment. To dry, roll the item in a towel to squeeze out excess
                water. Lay flat to dry. Iron when still damp and with the garment inside out to prevent the fabric from
                becoming shiny. Use a pressing cloth when ironing the right side of the garment. Pressing cloths can be
                purchased, or use something as simple as a piece of white cotton fabric. <br/>
                <b> Silk: </b> Dry cleaning may be required. Some silks are hand- or machine-washable. Do not dry silk
                in a clothes dryer. Garments usually look best when professionally dry-cleaned. <br/>
                <b> Spandex: </b> Use warm water when hand- or machine-washing items made with spandex. Line-dry or use
                a low temperature setting when machine-drying to preserve the elasticity of the garment. <br/>
                <b> Wool knit: </b> Typically wool knits need to be dry-cleaned, but check the label. If hand-washable,
                use cool water and a detergent for fine washables. Squeeze out excess water, then reshape and dry flat.
                <br/>
                <b> Wool (lined): </b> Lined garments generally look best when professionally dry-cleaned once a season.
                Between dry cleanings, remove surface soil with a brush or damp cloth. Refresh the item by hanging it
                from a padded hanger in a steamy bathroom; moisture will help garment shed wrinkles. When touching up
                with an iron, use steam in an up-and-down motion (rather than sliding the iron along the fabric).
              </div>

              <div class="question" id="ship-internationally">
                <b>Q: Do you ship internationally? </b> <br/>
                <b> A: </b> For shipping internationally, just visit our international page, select your destination and
                currency, add items to your shopping Bag and then click on the Checkout button. We will calculate and
                guarantee the lowest possible order total in your preferred currency, including any applicable duties,
                and taxes as determined by the destination destination's customs authority.
              </div>

              <div class="question" id="international-credit-cards">
                <b>Q: Does BrandCruz accept international credit cards? </b> <br/>
                <b> A: </b> yes, we accept all domestic and international credit and debit cards.
                On the checkout page, there will be a billing and shipping section. Please do the following:
                For the billing information
                • Enter your street address on Address Line 1.
                • Enter your City, County or Province, and Postal Code on Address Line 2.
                • Enter your Country for the city.
                • Enter AA for the state.
                • Enter 11111 for the zip code.
                For the shipping information
                • Please enter the correct information in the appropriate field.
                Orders placed with the use of an International Credit Card may take up to 72 hours to finalize prior to
                shipping. We apologize for any inconvenience this may cause.
              </div>

              <div class="question" id="received-damaged">
                <b>Q: I received Damaged, Defective, or Wrong Item(s), what do I do? </b> <br/>
                <b> A: </b> Please contact us immediately at <a href="mailto:care@brandcruz.com">care@brandcruz.com</a>.
                We would happy to replace it for you.
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>