<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h2>Shipping & Delivery </h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right">
            <h1> International Shipping, Returns & Taxes </h1>

            <p>
              <b> Shipping Rates </b> <br/>
              For shipping internationally, just visit our international page, select your destination and currency, add
              items to your Shopping bag and then click on the Checkout button. We will calculate and guarantee the
              lowest possible order total in your preferred currency, including any applicable duties, and taxes as
              determined by the destination destination's customs authority.
            </p>

            <div class="mb10">
              <b> Gift Cards </b> <br/>
              Unfortunately, Gift Cards are not available for sale or redemption on international orders. All Gift Card
              or Virtual Gift Card purchases must go through the US shipping site. <br/><br/>
              Delivery Times
              <ul>
                <li>Order must be placed by 6 PM (ET)</li>
                <li>Not available for all items on the site. See product details for any shipping restrictions.</li>
              </ul>
            </div>

            <div class="table-wrapper mt5 mb10">
              <table class="shipping-table">
                <thead>
                <tr>
                  <th width="20%">
                    <p align="center"><strong>Region</strong></p>
                  </th>
                  <th width="60%">
                    <p align="center"><a name="__DdeLink__1537_1719824556"></a><strong>Countries
                      and Territories</strong></p>
                  </th>
                  <th width="20%">
                    <p align="center"><a name="__DdeLink__1539_1719824556"></a><strong>Delivery
                      Time</strong></p>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td width="20%">
                    <p><a name="__DdeLink__1543_1719824556"></a>Canada</p>
                  </td>
                  <td width="60%">
                    <p><a name="__DdeLink__1545_1719824556"></a>Canada</p>
                  </td>
                  <td width="20%">
                    <p><a name="__DdeLink__1547_1719824556"></a>Standard: 4 - 12 business days<br/>Express: 3 - 7
                      business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td rowspan="8" width="20%">
                    <p><a name="__DdeLink__1549_1719824556"></a>Europe</p>
                  </td>
                  <td width="60%">
                    <p><a name="__DdeLink__1551_1719824556"></a>Albania, Faroe Islands, Greenland, Holy See (Vatican
                      City), Kosovo, Lithuania, Malta, Romania, Russian Federation, Saint Pierre and Miquelon
                    </p>
                  </td>
                  <td width="20%">
                    <p><a name="__DdeLink__1553_1719824556"></a>Express: 5 - 9 business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p><a name="__DdeLink__1555_1719824556"></a>Germany, Ireland, United Kingdom
                    </p>
                  </td>
                  <td width="20%">
                    <p><a name="__DdeLink__1557_1719824556"></a>Standard: 7 - 14 business days<br/>Express: 4 - 8
                      business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p><a name="__DdeLink__1559_1719824556"></a>Armenia, Belarus, Cyprus, Falkland Islands (Malvinas),
                      Gibraltar, Guernsey (UK), Iceland, Jersey (UK), Moldova, Montenegro
                    </p>
                  </td>
                  <td width="20%">
                    <p>
                      <a name="__DdeLink__1561_1719824556"></a>6 - 10 business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p><a name="__DdeLink__1563_1719824556"></a> Isle of Man</p>
                  </td>
                  <td width="20%">
                    <p><a name="__DdeLink__1565_1719824556"></a>3 - 6 business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p><a name="__DdeLink__1567_1719824556"></a> Andorra, San Marino, Serbia
                    </p>
                  </td>
                  <td width="20%">
                    <p><a name="__DdeLink__1569_1719824556"></a>4 - 7 business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>
                      <a name="__DdeLink__1571_1719824556"></a> Bosnia and Herzegovina
                    </p>
                  </td>
                  <td width="20%">
                    <p><a name="__DdeLink__1573_1719824556"></a><4 - 9 business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p><a name="__DdeLink__1575_1719824556"></a> Georgia, Ukraine
                    </p>
                  </td>
                  <td width="20%">
                    <p>
                      <a name="__DdeLink__1577_1719824556"></a>5 - 10 business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p> Austria, Belgium, Bulgaria, Czech Republic, Denmark, Estonia, Finland, France, Greece, Hungary,
                      Italy, Latvia, Liechtenstein, Luxembourg, Macedonia, Monaco, Netherlands, Norway, Poland,
                      Portugal, Slovakia, Slovenia, Spain, Sweden, Switzerland, Turkey
                    </p>
                  </td>
                  <td width="20%">
                    <p>4 - 8 business days</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan="9" width="20%">
                    <p> Australia, Asia &amp; Pacific</p>
                  </td>
                  <td width="60%">
                    <p> Australia, New Zealand, Singapore</p>
                  </td>
                  <td width="20%">
                    <p>
                      Standard: 7 - 14 business days<br/>Express: 5 - 9 business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Hong Kong, Japan</p>
                  </td>
                  <td width="20%">
                    <p>
                      Standard: 7 - 12 business days<br/>Express: 4 - 8 business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Bangladesh, Brunei, Cambodia, Maldives, Micronesia, Pakistan, Papua New Guinea
                    </p>
                  </td>
                  <td width="20%">
                    <p>6 - 10 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Fiji, French Polynesia, Myanmar</p>
                  </td>
                  <td width="20%">
                    <p>5 - 8 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>China, Christmas Island, Cocos (Keeling) Islands, India, Indonesia, Malaysia, Philippines, South
                      Korea, Sri Lanka, Thailand, Vietnam
                    </p>
                  </td>
                  <td width="20%">
                    <p>5 - 9 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Samoa, Taiwan, Wallis and Futuna</p>
                  </td>
                  <td width="20%">
                    <p>4 - 8 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Tanzania</p>
                  </td>
                  <td width="20%">
                    <p>3 - 10 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Bhutan, Cook Islands, Kiribati, Laos, Nauru, Nepal, New Caledonia, Niue, Palau, Solomon Islands,
                      Tonga, Tuvalu, Vanuatu
                    </p>
                  </td>
                  <td width="20%">
                    <p>6 - 9 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Marshall Islands, Mongolia</p>
                  </td>
                  <td width="20%">
                    <p>7-11 business days</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan="6" width="20%">
                    <p>Latin America, South America &amp; Caribbean</p>
                  </td>
                  <td width="60%">
                    <p>Bahamas, Venezuela</p>
                  </td>
                  <td width="20%">
                    <p>3 - 8 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Antigua and Barbuda, Bolivia, Brazil, Cayman Islands, Dominica, Grenada, Guyana, Mayotte,
                      Netherlands Antilles, Paraguay, Peru, Saint Barth&eacute;lemy
                    </p>
                  </td>
                  <td width="20%">
                    <p>5 - 9 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Aruba, Bermuda, Guadeloupe, Martinique, Montserrat, Saint Kitts and Nevis, Saint Lucia, Turks and
                      Caicos Islands
                    </p>
                  </td>
                  <td width="20%">
                    <p>5 - 11 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Anguilla, Argentina, Barbados, Belize, Bonaire; Sint Eustatius and Saba, British Virgin Islands,
                      Chile, Colombia, Costa Rica, Cura&ccedil;ao, Dominican Republic, Ecuador, El Salvador, Guatemala,
                      Haiti, Honduras, Jamaica, Mexico, Nicaragua, Panama, Saint Vincent and the Grenadines, Sint
                      Maarten (Dutch side), Trinidad and Tobago, Uruguay
                    </p>
                  </td>
                  <td width="20%">
                    <p>4 - 8 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Sao Tome and Principe, Suriname, Timor-Leste</p>
                  </td>
                  <td width="20%">
                    <p>6 - 10 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>French Guinea</p>
                  </td>
                  <td width="20%">
                    <p>7 - 12 business days</p>
                  </td>
                </tr>
                <tr>
                  <td rowspan="13" width="20%">
                    <p>Africa &amp; Middle East</p>
                  </td>
                  <td width="60%">
                    <p>Bahrain, Egypt</p>
                  </td>
                  <td width="20%">
                    <p>
                      Standard: 7 - 14 business days<br/>Express: 5 - 9 business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Saudi Arabia, United Arab Emirates</p>
                  </td>
                  <td width="20%">
                    <p>
                      Standard: 7 - 14 business days<br/>Express: 4 - 8 business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Jordan, Kuwait</p>
                  </td>
                  <td width="20%">
                    <p>
                      Standard: 7 - 14 business days<br/>Express: 6 - 10 business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Oman, Qatar</p>
                  </td>
                  <td width="20%">
                    <p>
                      Standard: 7 - 14 business days<br/>Express: 5 - 9 business days
                    </p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Libya, Reunion</p>
                  </td>
                  <td width="20%">
                    <p>5 - 13 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Benin, Burkina Faso, Ethiopia, Gabon, Gambia, Kenya, Lebanon, Mali, Mauritius, Rwanda, Senegal,
                      Sierra Leone, Togo, Uganda, Yemen
                    </p>
                  </td>
                  <td width="20%">
                    <p>5 - 8 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Algeria, Azerbaijan, Burundi, Congo, Democratic Republic of the, Congo, Republic of the, Ghana,
                      Ivory Coast, Lesotho, Malawi, Namibia, Seychelles, South Africa
                    </p>
                  </td>
                  <td width="20%">
                    <p>5 - 9 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Cameroon, Kazakhstan, Liberia, Mozambique, Niger, Nigeria, Zambia, Zimbabwe
                    </p>
                  </td>
                  <td width="20%">
                    <p>5 - 10 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Chad, Eritrea, Guinea, Guinea-Bissau, Madagascar, Somalia, Swaziland, Tunisia
                    </p>
                  </td>
                  <td width="20%">
                    <p>6 - 9 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Afganistan, Angola, Botswana, Cape Verde, Comoros Islands, Equatorial Guinea, Kyrgyzstan,
                      Mauritania, Tajikistan, Uzbekistan
                    </p>
                  </td>
                  <td width="20%">
                    <p>6 -10 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Central African Republic, Djibouti</p>
                  </td>
                  <td width="20%">
                    <p>6 - 11 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Iraq</p>
                  </td>
                  <td width="20%">
                    <p>6 - 13 business days</p>
                  </td>
                </tr>
                <tr>
                  <td width="60%">
                    <p>Israel, Morocco</p>
                  </td>
                  <td width="20%">
                    <p>4 - 8 business days</p>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="mb5">
              <b> Returns & Exchanges </b> <br/>
              If for any reason you are not satisfied with your international online purchase, please contact us at
              <a href="mailto:return@brandcruz.com">return@brandcruz.com</a>. We would happy to help you and do needful.
            </div>

            <div>
              <b> Duty & Tax </b> <br/>
              When you open our website form your location our product price shows including all duty and taxes added
              into product. There will be no extra tax duty on your package arrive.
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>