<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h2>Privacy Policy </h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right privacy-wrapper">
            <h1> Privacy Policy </h1>

            <p>
              Welcome to BrandCruz.com. As a valued customers of BrandCruz.com companies , we consider your trust as our
              most valuable asset. We take our customer’s personal information seriously in our possession to protect.
              To have a firm faith on us you need to understand what type of information we collect from you and how we
              use that information and the opinion you have regarding the use of your information.
              In this policy, personal information means the information, which is used to identify or contact like you
              name, address, telephone number or email address, etc.
            </p>

            <div class="mb5">
              <b>Kinds of Information We Collect</b><br/>
              During the time of our communication by BrandCruz.com.com, we usually collect your personal information by
              which we can locate, contact or identify you. Some instances of personal information which we collect
              different ways are given below.
              <ul>
                <li>Registration for wish list, shopping account or product Review on our websites</li>
                <li>When you make purchase, place order via online, phone, fax or email or e-receipt</li>
                <li>Requesting catalog or other information</li>
                <li>Subscribing BrandCruz.com.com email newsletter or other form of communication</li>
                <li>Enrolling for Rewards account via online</li>
                <li>Applying for debit or credit card via us with our partner bank</li>
                <li>Your financial account numbers when you transact with us</li>
                <li>Getting in touch with our Wi-Fi, mobile application, websites or mobile sites</li>
                <li>Purchase history, push notification request</li>
                <li>Location information from browser</li>
                <li>Participating in our program like surveys, contests or loyalty programs etc.</li>
                <li>When you apply for job with your social insurance number or social security numbers</li>
                <li>By communication with you through our sales teams.</li>
                <li>Contacting with questions, comment or complaint</li>
              </ul>
              <p>
                Even from third party(demographic firms), we may collect your personal information. Collecting all these
                information, we may combine it and might disclose it within our corporate family. We automatically store
                you information when you visit our website.This information may include browser information, IP address,
                Internet Service Provider (ISP), location, date/time stamp,operating system, and click stream data.
              </p>
            </div>
            <p>
              <b>How do We Use Your Information</b> <br/>
              We use the personal information to provide you with the best possible products, services and experience,
              notify you product’s satety issues, for future career opportunities, reply and comment to your questions,
              to determine your satisfaction with our service and program, for the invitation of our special event,
              service or marketing.
            </p>

            <p>
              Your personal information will be used for our everyday business purpose like security, improvements,
              operations, fraud detection, payment process, legal compliance , reporting or making back-ups.
            </p>

            <p>
              <b>How We Share Your Information</b> <br/>
              We might share your personal data to serve you best within our corporate family along with service
              provider. It helps to promote our service administer our programs and fulfill request, product reviews and
              offer you membership information. Service providers are restricted to use your information in any ways
              other than helping us to provide you product and service from BrandCruz.com.
            </p>

            <p>
              In some cases, we might disclose your personal information when we will think that it is needed to locate
              you, advice you, contact you about real products, legal information to protect your right, protect you
              from theft and fraud. Even in your request, we might disclose your personal information and we consider
              that it is permitted by law.
            </p>

            <p>
              <b> Personal Book </b> <br/>
              To serve you best and to build a better relationship we maintain a personal book,which allow us to serve
              you better in various ways like your favorite brands, when your products will arrive, notification about
              sales, store events, promotion which interest you, etc. This book helps us to serve you with professional
              manner. This book is the property of BrandCruz.com and it may be used to BrandCruz.com purpose only.
            </p>

            <p>
              <b> Our Salesperson Texting App “NEXT”</b> <br/>
              Most of our customers want an excellent shopping experience that is intuitive, relevant and
              personalized. we are glad to provide you opt in message service through our NEXT app which helps you to
              contact directly through our sales team. Through NEXT app, you will receive text messages regarding
              fashion, reminder of upcoming sale and recommendations along with event and service.
            </p>

            <p>
              <b> Video Recording </b> <br/> 
              For security reasons we operate video cameras in our stores, loss prevention, fraud and reporting purpose.
              For certain operational purpose, we use such device at our store.
            </p>

            <p>
              <b> Mobile Privacy </b> <br/>
              By BrandCruz.com mobile application, you can shop online. Even you can get many features like learning
              store events, checking product availability, and receiving other information about BrandCruz.com. Personal
              data collected by this mobile app is secured by this Privacy and Policy. If you allow our third-party to
              collect your data automatically, they might collect it.
            </p>

            <p>
              You need not provide your location in the BrandCruz.com app. Just enter your zip code manually, we will
              save your zip code for future reference. We may collect your data when you are near at our store, though
              you don’t use your app. we collect your location data to provide you better shopping experience. you may
              turn off this service just simply disabling in your setting.
            </p>

            <p>
              <b>Cookies, Web Beacons, and Other Similar Technologies </b> <br/>
              We use web beacons, cookie and tags to locate your device and conduct fraud prevention service, record
              your IP, identify the name of the website from which you have visited the link and distinguish you from
              other visitors. This data is used to fulfilling contact with our business partners and help ourselves to
              promote service, product and webdesign. we may share your data with service provider on our behalf.
              cookies are small data files those are stored on the hard drive of the computer. Some cookies expire
              immediately when you finding visinting website. Tags and web neacons are small srtings which record
              activity on our website.
              We may use both sessions and cookie while visiting our website. this information is used to monitor the
              usage of our website and use your email. We can only use email if you are registered with BrandCruz.com
              with email. Web beacon helps us to monitor information like time and date, cookie number, duration and
              number of page description of the page and item purchased.
            </p>

            <p>
              You might try to order and without finishing order you may save it and log out. We may maintain your data
              from your order form. From the browser option, you can disable your cookies at any time, but in this case
              we cannot help you regarding purchases from our website. Furthermore, we will not be able to identify you
              as our registered member.
            </p>

            <p>
              We may use flash cookies to personalize your online experience and store your settings. Flash cookies help
              our users to set volume with video, perform surveys and play games. By this flash cookies we can
              understand which area of our customer like. We don’t use flash cookies for marketing purpose. If you
              disable flash cookies, we will not be able to provide some features to help you enjoy better online
              experience.
            </p>

            <p>
              <b> Third-Party Advertising Partners </b> <br/> 
              Third-Party works on behalf of us to provide advertisement on the internet.This advertising may collect
              data about your visit to our website and your engagement with our website. Such data never include your
              address, name, email address or any other personal information. Furthermore, our service provider might
              use your data about your interaction with our product and service from BrandCruz.com.
            </p>

            <p>
              <b> Third-Party Platform Advertising </b> <br/>
              We may also offer interest-based ads on Google, Facebook and Twitter using your personal information. We
              never share personal information like shopping history, etc.
            </p>

            <p>
              <b> Social Media Interactions </b> <br/>
              BrandCruz.com tries to motivate you to share your fashion experience through social media such as
              Facebook, Pinterest, Twitter and Instagram. We use Facebook social Plugins to allow Facebook to share your
              data with your friends while they are on our website.
              Social Plugins inspire you to show you and your friends to like our products pages when you are logged
              into Facebook. You can remove your like or comment any time. You can sign in to your BrandCruz.com account
              using Facebook. If you log in this way, we may collect your data to provide you better shopping
              experience.
            </p>

            <p>
              <b> Links to Other Websites and Services </b> <br/>
              You might get some link of other website maintained by third- party in BrandCruz.com. you should access
              linked sites on your own risk. We never control linked site and we are not responsible of the content of
              the link site. We suggest you to check their Privacy Policy to know how they use your information.
            </p>

            <div class="mb5">
              <b> Your Information, Your Choice </b> <br/>
              To update your choice, please contact with the following address.
              <ul class="mb5">
                <li>Email at care@brandcruz.com</li>
                <li>Send your request to BrandCruz.com Privacy, Address at: #120, Las Vegas, NV 89148, USA</li>
              </ul>

              Your preference Stated below: 

              I prefer not to receive email advertisements related to products and  promotions or upcoming events,
              direct mail advertisements, marketing phone calls. We may select Private setting to protect your privacy
              in your wish list.
            </div>
            <p>
              <b> Your Access </b> <br/> 
              You can freely update your information given to us during opening your account. If you are registered in
              online, you can update your information through online. To verify your account, we may request you certain
              personal information.
            </p>

            <p>
              <b> California Privacy Rights </b> <br/>
              Californian resident may ask us how we share personal information with third-party. BrandCruz.com never
              give any private data to the third-party. If you have any questions regarding privacy policy, you can ask
              at <a href="mailto:care@brandcruz.com">care@brandcruz.com</a>
            </p>

            <p>
              <b>Children's Privacy</b> <br/> 
              Knowingly BrandCruz.com never collect personal data from the minors under 13. If we find that minors under
              13 has submitted information without the consent of their parents, we will remove all his or her data.
            </p>

            <p>
              <b> Security </b> <br/>
              By this website, we maintain, electronic, physical, procedural to protect the security of the personal
              information given to us. We use Secure Sockets Layer (SSL) to protect your information. SSL encoded credit
              card number, name and address will only be decoded by BrandCruz.com . Note that email is not decoded.
            </p>

            <p>
              To ensure secure connection, have a look at the bottom on your status bar of your browser window. If you
              find closed lock the data is secure and SSL is active. You will find some additional alert from the most
              browsers. If you find any problem regarding this please email us at care@brandcruz.com
            </p>

            <div class="mb5">
              We encourage customers to review their accounts carefully and if there is anything wrong regarding bank or
              credit card, report immediately. We request our all customers to protect their personal data in online
              including the following:
              <ul>
                <li>Install latest antivirus software on your computer</li>
                <li>Reset your email account password</li>
                <li>Use complex password with numeric and alpha</li>
                <li>Don’t use same password more than one website</li>
                <li>Don’t share your password</li>
                <li>Use mobile number for password protect</li>
                <li>After your session sign out properly from the particular site</li>
              </ul>
            </div>
            <p>
              <b> Fraud Alerts: </b> <br/>
              You may meet some websites who will offer you BrandCruz.com gift card. At this moment BrandCruz.com does
              not offer any gift card nor are we associated with this promotion. If you find such fraudulent promotion,
              just email us at fraudprotect@brandcrus.com . We take such issue seriously.
            </p>

            <p>
              <b> Data Storage and Processing </b> <br/>
              BrandCruz.com along with its third-party service provider, may store or process your personal data outside
              of Canada or the USA. For this reason, your data may be accessible by foreign law.
            </p>

            <p>
              <b> International consumer Privacy </b> <br/> 
              It is the top priority for BrandCruz.com to protect the customers data. Sometimes, BrandCruz.com works
              with outside vendors. In that case, we carefully handle all kinds of information. BrandCruz.com partner
              Borderfree.Inc helps customers to ship globally. Borderfree agrees with us that they will not sell any
              personal data of our customers.
            </p>

            <p>
              When you will complete your order, Borderfree will notify BrandCruz.com for the approval of your order and
              BrandCruz.com will send the order to Borderfree. Actually, Borderfree purchase product from us and they
              can use their own title to the products, fix taxes and duties, bill your credit card. By this way
              Borderfree sells products to you. After ordering your products, you must agree to the terms and conditions
              of the Borderfree. When you will be agreed that Borderfree may share your data with BrandCruz.com. That
              data will be secured by the BrandCruz.com Privacy Policy. U.S. Department of Commerce and the European
              Union has certified BrandCruz.com with Safe Harbor Privacy Principles. If you want to know anything about
              Safe Harbor just visit Safe Harbor website.
            </p>

            <p>
              Customer can contact directly regarding personal data update, marketing preference, request receiving
              information regarding international privacy policy program along with your complaints. Please contact us
              with the following address:
              Send an email to care@brandcruz.com .Write us at BrandCruz.com International Privacy, #120, Las Vegas, NV
              89148, USA
            </p>

            <p>
              <b> Business Transitions </b> <br/>
              To develop our business we might undergo a business transaction like acquiring another company, selling
              proportion of our assets and merging with another company. In such situations, customers data is
              transferred to the third-party. You agree that such transfer may occur according to our privacy policy.
            </p>

            <p>
              <b> Policy Changes </b> <br/>
              According to law, we reserve the right to change this privacy policy. If there is any material changes to
              the privacy policy, we will notify you about the change of our policy.
            </p>

            <p>
              <b> Additional Information </b> <br/>
              If you feel uncomfortable with shopping online, just email us at care@brandcruz.com. Our customers service
              will be glad to assist you
              Any questions regarding Privacy Policy please contact us at: 
            </p>

            <p>
              <b> BrandCruz.com Privacy </b> <br/> 
              #120, Las Vegas, NV 89148, USA
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>