<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h2> Promises </h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right privacy-wrapper">
            <h1> Our Promise </h1>

            <p>
              <b>100% Genuine Products</b>
            </p>

            <p>
              No fakes and no duplicates. We have made it to our mission to offer only 100% genuine products in the original packaging on lienesbeauty.com . We work hard to provide you with the largest selection of authentic and brand new products at the highest quality.
            </p>

            <p>
              <b>Safe & Secure Payments</b>
            </p>

            <p>
              Whether you pay cash on delivery or conveniently with one of our pre-payment methods, credit / debit card / Paypal, your privacy is important to us and we keep your data secure. For further information please visit our Privacy Agreement Page.
            </p>

            <p>
              <b>Free & Easy Returns</b>
            </p>

            <p>
              Returns and replacements are easy and free of charge. For further information on the detailed terms, as
              well as on how to return your product please visit our Returns & Refunds Page.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>