<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h2>Return & Refund</h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right">
            <h1> Returns & Refunds </h1>

            <ul>
              <li>1.  Call  01706478728  or visit your order account to create your return request</li>
              <li>2.  Fill in the online returns form if not we will guide you over the phone</li>
              <li>3.  Pack your parcel securely, with the product in the original undamaged manufacturer's packaging as delivered to you</li>
              <li>4.  Attach the return label that you received with your order to the top of the parcel (ensure that delivery label is covered)</li>
              <li>5.  Head to your nearest drop-off point or wait for collection by our pick-up service</li>
              <li>6.  We will send you a tracking number via SMS</li>
            </ul>

            <p>
              <b> Returns Policy </b>
            </p>

            <ul>
              <li>1. If your product is defective / damaged or incorrect / incomplete at the time of delivery, please contact us within the applicable return window. Your product may be eligible for refund or replacement depending on the product category and condition. Please see the detailed terms in the relevant category below.</li>
              <li>2. Please note that some products are not eligible for a return if the product is "No longer needed".</li>
              <li>3.  If you have have received a non-returnable item that is defective / damaged or incorrect / incomplete, please contact us within 7 days of delivery.</li>
              <li>4. Non refundable items list </li>
            </ul>
            <table class="table">
              <tbody>
              <tr>
                <td>Beauty, Personal Care & Health</td>
                <td>Non returnable</td>
              </tr>

              <tr>
                <td>Hair Removal & Electronic Accessories</td>
                <td>
                  7 Days; Replacement Only <br/>
                  Not eligible for return if the item is "No longer needed"<br/>
                  If your item arrived in defective / damaged or incorrect / incomplete condition, it is eligible for a free replacement, provided the exact item is available with the same seller. If the same item is not available from the same seller, a refund will be issued.
                </td>
              </tr>
              </tbody>
            </table>

            <p>
              <b>Conditions for Returns</b>
            </p>

            <p>
              The product must be unused, unworn, unwashed and without any flaws. Fashion products can be tried on to see if they fit and will still be considered unworn.
            </p>

            <p>
              The product must include the original tags, user manual, warranty cards, freebies and accessories.
            </p>

            <p>
              The product must be returned in the original and undamaged manufacturer packaging / box. If the product was delivered in a second layer of original packaging, it must be returned in the same condition with return shipping label attached. Do not put tape or stickers on the manufacturers box.
            </p>

            <p>
              If a product is returned to us in an inadequate condition, we reserve the right to send it back to you.
            </p>

            <p>
              <b> Returns Reasons </b>
            </p>

            <p>
              Delivery of a product that is damaged (physically destroyed or broken) / defective (faulty or malfunctioning) condition
            </p>

            <p>
              Delivery of a product that is incorrect (presentation different on website) / incomplete (missing parts)
            </p>

            <p>
              Delivery of a product that is “No longer needed” (you no longer have a use for the product / you have changed your mind about the purchase / the size of a fashion product does not fit / you do not like the product after opening the package) - eligible for selected products only
            </p>

            <p>
              <b> Issuance of Refunds </b>
            </p>

            <p>
              If your product is eligible for a refund, you can choose your preferred refund method based on the table below. The shipping fee is refunded along with the amount paid for your returned product.
            </p>

            <p>
              The time required to complete a refund depends on the refund method you have selected. Once we have received your product (3-4 working days) and it has undergone a quality control (1-2 working days), the expected refund processing times are as follows:
            </p>

            <table class="table">
              <thead>
              <tr>
                <th>Payment Method</th>
                <th>Refund Option</th>
                <th>Refund Time</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>All</td>
                <td>Refund Voucher</td>
                <td>1-2 working days</td>
              </tr>

              <tr>
                <td rowspan="2" style="max-width: 120px;">Debit or Credit Card (Swipe on Delivery) / PortWallet (All Mobile Payment Provider & Online Debit or Credit Card)</td>
                <td>Bank Deposit; Mobile Payment Reversal (bKash / Rocket)</td>
                <td>4-5 working days</td>
              </tr>

              <tr>
                <td>(Debit or Credit & Other Mobile Payment Reversal)</td>
                <td>9-10 working days</td>
              </tr>

              <tr>
                <td>Cash on Delivery (COD)</td>
                <td>Bank Deposit; Mobile Payment Provider (bKash / Rocket)</td>
                <td>4-5 working days</td>
              </tr>

              <tr>
                <td>Orna House Voucher/Gift Card</td>
                <td>Refund Voucher</td>
                <td>2-4 working days</td>
              </tr>
              </tbody>
            </table>

            <p>
              <b> Refund Conditions & Requirements </b>
            </p>

            <p>
              <b>For Refund Voucher:</b> Vouchers will be sent to the customer registered email ID on Orna House and can be redeemed against the same email ID.
            </p>

            <p>
              <b>For bKash & Rocket Mobile Account:</b> If the refunded amount is not reflecting in your Mobile account statement after refund is completed and you have received a notification by Orna House :
            </p>

            <ul>
              <li>i) Please dial 01706478728 contact the bKash helpcenter (BRAC Bank Ltd.)</li>
              <li>ii) Please dial 01706478728 contact the Rocket helpcenter (Dutch Bangla Bank ltd (DBBL)</li>
            </ul>

            <p>
              <b>For Paypal:</b> If the refunded amount is not reflecting in your paypal account or paypal account after refund is completed and you have received a notification by paypal, please contact the paypal  support.
            </p>

            <p>
              <b>For Bank Deposit:</b> The bank account details provided must be correct and the account must be active
            </p>

            <p>
              <b>Please note that all refunds can only be carried out in domestic currency.</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>