<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h2>Shipping, Delivery, Return </h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right">
            <h1> Return Policy </h1>

            <h3> Customers enjoy free returns, and 24/7 customer service! </h3>

            <p>
              Standard Returns Policy We will be happy to refund/exchange a product provided there is proof of purchase
              and it is in an unopened and original condition within 14 days of purchase. If we find that the product
              has not been returned to us in a fully resalable condition, we reserve the right to refuse a return on the
              item. Refunds are issued in the same form of payment used to make the purchase. Unfortunately, the below
              products cannot be returned or refunded unless faulty due to hygiene reasons: Swimwear & Underwear
              Jewellery items Consumable Items: food/drink, batteries, light bulbs, toiletries, etc.
            </p>

            <p>
              Pierced Earrings Hats & Hair Accessories Store Management discretion is available where a faulty item has
              been presented. As a consumer, you have 14 days to return an item that is displaying a fault. A guarantee
              of 12 months is offered with electrical items. Proof of purchase is required. Our refunds policy is in
              addition to your statutory rights.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>