<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs asad">
        <h2> Secure Shopping </h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right safe-shopping-wrapper">
            <h3> Protecting Your Personal Information </h3>

            <p>
              <b>Secure Sockets Layer (SSL Technology)</b> <br/>
              BrandCruz.com uses Secure Sockets Layer (SSL) technology to provide you with the safest, most secure
              shopping experience possible. SSL technology enables encryption (scrambling) of sensitive information,
              including passwords and credit card numbers, during your online transactions. All of the forms on our site
              are secured with SSL technology so your personal information stays safe and out of malicious hands.
            </p>

            <p>
              <b> SSL Certificate Solutions </b> <br/>
              Cloudflare, Inc. is a technology company that specializes in data encryption and e-commerce. It is one of
              the most recognized companies for certifying that a website is secure and encrypted. With Cloudflare, you
              can feel confident shopping on our website!
            </p>

            <p>
              <b> Industry Standard Firewalls </b> <br/>
              BrandCruz.com servers are protected by secure firewalls—communication management computers specially
              designed to keep information secure and inaccessible by other Internet users. So you're absolutely safe
              while you shop.
              SSL Technology, Trustwave, and Industry Standard Firewalls all work together to ensure your privacy and to
              assist in protecting your personal data.
            </p>

            <p>
              <b> Privacy Policy </b> <br/>
              BrandCruz.com doesn't like it when someone gives away our personal information and neither do you! That's
              why we don't rent, sell or share your personal information with anyone. Our Privacy Policy details how
              your personal information is collected and how your personal information may be used.
            </p>

            <p>
              Read More About the <a href="/privacy_policy"> Privacy Policy </a>
            </p>

            <h3>Frequently Asked Questions</h3>

            <p>
              <b>Does your site have a secure connection? How am I able to tell if it is a safe connection?</b> <br/>
              Our site uses SSL encryption to secure the communication of all sensitive information passing between your
              browser and our servers. To confirm that it is a secure connection, you should see the
              https://secure-www.brandcruz.com/.... in the URL. The “https” indicates that it’s using SSL. Furthermore,
              you should see a yellow lock at the bottom right corner of your browser.
            </p>

            <p>
              <b>Shouldn’t the address bar show https:// rather than http://www. brandcruz.com/? Doesn’t the ‘s’ at the
                end mean it is a secure connection? </b> <br/>
              We use https:// only for our secure pages, i.e. those pages that transfer confidential information such as
              the Login, My Account, and Checkout pages. Pages that are only used for products or blogs will still use
              the regular http:// since no sensitive information is being passed through them.
            </p>

            <p>
              <b> Why doesn’t password reset work? Why do I have to call BrandCruz in order to get our password
                changed? </b> <br/>
              It takes approximately 2-3 minutes for a password reset email to be sent since we collect all requests
              within a 2-minute timeframe and send them out in batches. Also, please make sure to check your “spam” or
              “Junk e-mail” folder in your email client. Finally, if you’re using your corporate email address, please
              note that that your company may have a centralized spam filter that could be blocking such emails. In such
              event, please check with your company’s IT department to see if they’ve quarantined any emails for you
              from BrandCruz.com and ask them to release them.
            </p>

            <p>
              <b> If I save my payment information in your system will it be safe? </b> <br/>
              Yes! Our awesome security staff go to great lengths to ensure the safety of our customers’ payment
              information. Not only are we PCI compliant and encrypt connections using SSL technology, we also encrypt
              payment information traveling within our company as well. All payment information is encrypted while in
              storage within a network that is firewalled off from the rest of the company and the internet.
            </p>

            <p>
              <b> Why is it that BrandCruz does not request the 3 digit security code from the back of credit
                cards? </b> <br/>
              Simply put, we think it’s a pain to have to get out your credit card every time you want to purchase
              something and we just don’t need that information to process your payment. (We also have a wonderful staff
              of individuals who review thousands of orders each month who actually keep our fraud rating well below the
              industry average without it) (However, this is something we are still looking into)
            </p>

            <p>
              <b> Why is it when I go to your site I receive a popup stating that your site does not have a secure
                connection? </b> <br/>
              We want to confirm that the page is still secure since all Login/Checkout/Account pages travel over SSL;
              however, there are currently some issues with a specific version of the Internet Explorer browser and how
              it handles images on secure pages. Our tech team is working towards a solution.
            </p>

            <p>
              <b> Thanks for shopping with confidence! </b> <br/>
              <a href="/"> Go to the Homepage </a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>