<main class="main public-wrapper">
  <div class="section">
    <div class="container">
      <div class="page-title uppercase text-center with-bb hidden-xs">
        <h2>Terms and conditions </h2>
      </div>
      <div class="chunk contact">
        <div class="row">
          <div class="col-sm-3">
            <%= render 'public/cms_sidebar' %>
          </div>
          <div class="col-sm-9 chunk-right term-condition">
            <h3> Updated: 05/03/2013 </h3>

            <p>
              BrandCruz.com offers fashion related service when you shop at this website. For the following conditions
              BrandCruz.com offer service. You should agree to the terms and conditions if you want to use the service.
            </p>

            <p>
              You should read those terms and conditions carefully, when you use BrandCruz.com service like shipping,
              buying or my account. You will be subject to the terms and agreements, guidelines applicable to
              BrandCruz.com.
            </p>

            <p>
              <b> Privacy </b> <br/>
              By visiting our privacy policy , you can understand the terms and conditions.
            </p>

            <p>
              <b> Electronic Communications </b> <br/>
              If you use any BrandCruz.com service, or communication by email with us, we will contact you by e-mail.
              You agree that all types agreements like disclosures, notices,or other types of communications provided by
              us satisfy any legal requirement like communication in writing.
            </p>

            <p>
              <b> Copyright </b> <br/>
              All kinds of content like graphics, text, logos, button icons, audio and video clips, images, and data
              compilations, is the property of BrandCruz.com protected by U. S and international copyright laws.
            </p>

            <p>
              <b> Trademarks: </b>
              BrandCruz.com and other logos, graphics, page headers, scripts, and service included through any
              BrandCruz.com Service are trademarks of BrandCruz.com in the U.S. Along with this, trademarks and trade
              dress cannot be used in connection with any product or service to make confusion among consumers.
            </p>

            <p>
              <b> License and Site Access </b> <br/>
              With these conditions, BrandCruz.com allows you a limited, non-exclusive, non-transferable,
              non-sublicensable license to access and make personal and non-commercial use of the BrandCruz.com
              Services. The license does not include any commercial use of BrandCruz.com.
            </p>

            <p>
              Terms are reserved by BrandCruz.com.com. No BrandCruz.com service may be duplicated, reproduced, sold,
              copied, resold, otherwise exploited for any commercial purpose without written consent of BrandCruz.com.
              You cannot use any hidden text or meta tags using the name of BrandCruz.com without written permission of
              BrandCruz.com. Even you cannot misuse the BrandCruz.com services. Only the services permitted by law can
              be used.
            </p>

            <p>
              <b> Your Account </b> <br/>
              You are responsible for maintaining the confidentiality of your account(like password), if you use any
              BrandCruz.com service. BrandCruz.com sells items to adults who are able to buy with credit card or other
              payment method. You may use the BrandCruz.com service by the assitance your parents, if you are under 18.
              BrandCruz.com reserve the right to decline service terminate accounts, remove or edit content, or cancel
              orders in its sole decision.
            </p>

            <p>
              <b> Remarks, Reviews, Communications and Other Content: </b>
              Visitors may comments, reviews and send communicaiton submitting questions, idea or other information as
              long as the content is legal, not threatening, Not obscene, not invasive of privacy, Not Defamatory and
              not infringing of intellectual property rights, or something harmful for the third parties like harmful
              political campaigning. You are not allowed to use false email or mislead the origin of the content.
              BrandCruz.com reserves the right to edit or eliminate such content ,but does not review content regularly.
              BrandCruz.com has right but no obligation to edit or monitor to remove such content and BrandCruz.com
              takes no responsibility and liability for any content posted by you or thirdparty.
            </p>

            <p>
              <b> Copyright Complaints </b>
              It is the sole duty of BrandCruz.com to respect the scholarly stuff of others. If you consider that your
              content has been copied that establish copyright breach, kindly follow our notice and make a copyright
              violation claim.
            </p>

            <p>
              <b> Risk of Loss </b> <br/>
              The items bought from BrandCruz.com are made pursuant to shipment contract. That means the risk of loss
              for such items pass to you upon our delivery to the carrier.
            </p>

            <p>
              <b> Returns, Refunds and Title </b> <br/>

              Until an item reach to our return center, BrandCruz.com does not take title to return items. Without
              requiring a return, a refund may be issued at our discretion. For further informaition about refund and
              returns, please visit our Customer Service pages and find
              <a href="<%= international_path %>" style="text-decoration: underline;"> USA Returns and
                International Returns. </a>
            </p>

            <p>
              <b> Product Descriptions </b> <br/>
              BrandCruz.com tries to become as perfect as possible. But BrandCruz.com does not claim that the product
              description is or the content is complete, perfect, consistent, recent, or error-free . If you found
              product of BrandCruz.com undescribed, your duty is to return with unused condition.
            </p>

            <p>
              <b> Pricing </b> <br/>
              Until you order any products, we never confirm any price sold in the website. You might find few items
              mispriced in our catalog in spite of our best effort. If it is found that item’s price is higher that our
              stated price, we will either cancel your order and inform you about your cancellation or contact you for
              further instructions before shipping. Until your order has got access in our shipping process, we usually
              don’t charge in your card.
            </p>

            <p>
              <b> OTHER BUSINESSES </b> <br/>
              In our website we might embed link of other affiliated business or companies. In that case we are not
              responsible for reviewing those sites or warrant any offerings. BrandCruz.com never takes any liability
              and responsibility to the product, action or content of those third parties. It is your responsibility to
              evaluate and review those contents and their condition of use.
            </p>

            <p>
              <b> DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY </b> <br/>
              BrandCruz.com services, materials, contents , products and other service available to you made available
              to you through BrandCruz.com service are provided by BrandCruz.com as available basis. You completely
              agree that your use of BrandCruz.com service at your own risk.
            </p>

            <p>
              <b> Applicable Law </b> <br/>
              By using any BrandCruz.com service you agree that Applicable federal law, the Federal Arbitration Act, and
              the laws of the state of Washington, will govern these Conditions of Use during dispute of any sort that
              might arise between you BrandCruz.com.
            </p>

            <h3> Disputes </h3>

            <p>
              <b> Any dispute or claim relating to your use of any BrandCruz.com Service through the Websites will be
                fixed by binding mediation, rather than in court. </b> The federal arbitration law and Federal
              Arbitration Act apply to this contract. You must send a letter requesting mediation and describing your
              assertion to our registered agent Corporation Service Company To begin an mediation proceeding.
            </p>

            <p>
              We both agree that any dispute resolution <b> proceedings will be conducted only for individual not for a
              class. </b> We also both agree that we may bring suit in court to charge for breach or other misuse of
              scholarly property rights.
            </p>

            <p>
              <b> Site Policies, Modification, and Severability </b> <br/>
              You should review our other policies like our pricing policy stated on this site. These policies also
              govern BrandCruz.com service. We reserve the right to make changes to our policies, site, Service Terms,
              and Conditions of Use at any time.
            </p>

            <p>
              <b> Our Address: </b> <br/>
              #120, Las Vegas, NV 89148, USA
            </p>

            <div class="mb5">
              <b>Notice and Procedure for Making Claims of Copyright Infringement</b>

              <p>If you think that your work has been copied in a way that can claim copyright, in that case you are
                requested to provide BrandCruz.com,s written information stated below.
              </p>
              <ul>
                <li>An electronic signature of the person infavour of the owner of the copyright interest;</li>
                <li>An statement of the copyrighted work which you claim has been breached;</li>
                <li>An statement of where the material that you claim is breached is located on the site;</li>
                <li>Your address, e-mail and telephone number</li>
                <li>A statement which describes the truth of the statement on the copyright owner's behalf.</li>
              </ul>
            </div>

            <p>
              BrandCruz.com Copyright Agent for claims of copyright breach on the Websites can be reached to the
              following address: #120, Las Vegas, NV 89148 or email us at
              <a href="mailto:care@brandcruz.com">care@brandcruz.com</a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>