<% content_for :breadcrumb do %>
    <%= render 'shared/breadscrumb', breadscrumb: generate_breadscrumb('Wishlist') %>
<% end %>

<section id="main" class="site-main">
  <section id="main-container" class=" inner">
    <div class="row">
      <div id="main-content" class="main-content col-xs-12 col-lg-12 col-md-12">
        <div id="primary" class="content-area">
          <div id="content" class="site-content" role="main">

            <header class="page-header-v1">
              <h1 class="page-title">Wishlist</h1></header><!-- .page-header -->

            <article id="post-143" class="post-143 page type-page status-publish hentry">
              <div class="entry-content-page">
                <div id="yith-wcwl-messages"></div>
                <form id="yith-wcwl-form" action="http://venusdemo.com/wordpress/pi/wishlist/view/" method="post" class="woocommerce">
                  <input id="yith_wcwl_form_nonce" name="yith_wcwl_form_nonce" value="aa300bacfc" type="hidden"><input name="_wp_http_referer" value="/wordpress/pi/wishlist/" type="hidden">
                  <!-- TITLE -->

                  <!-- WISHLIST TABLE -->
                  <table class="table table-bordered shop_table cart wishlist_table" data-pagination="no" data-per-page="5" data-page="1" data-id="" data-token="">
                    <thead>
                    <tr>
                      <th class="product-remove"></th>
                      <th class="product-thumbnail"></th>
                      <th class="product-name">
                        <span class="nobr">Product Name</span>
                      </th>
                      <th class="product-price">
                    <span class="nobr">
                        Unit Price                    </span>
                      </th>
                      <th class="product-stock-status">
                    <span class="nobr">
                        Stock Status                    </span>
                      </th>
                      <th class="product-add-to-cart"></th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr id="yith-wcwl-row-11943" data-row-id="11943">
                      <td class="product-remove">
                        <div>
                          <a href="/wordpress/pi/wishlist/?remove_from_wishlist=11943" class="remove remove_from_wishlist" title="Remove this product">×</a>
                        </div>
                      </td>
                      <td class="product-thumbnail">
                        <a href="http://venusdemo.com/wordpress/pi/product/brigitte-bordeux/">
                          <img src="//venusdemo.com/wordpress/pi/wp-content/uploads/2017/03/30-85x95.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" height="95" width="85">
                        </a>
                      </td>
                      <td class="product-name">
                        <a href="http://venusdemo.com/wordpress/pi/product/brigitte-bordeux/">Brigitte Bordeux</a>
                      </td>
                      <td class="product-price">
                        <ins>
                          <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>40.0</span>
                        </ins>
                      </td>
                      <td class="product-stock-status">
                        <span class="wishlist-in-stock">In Stock</span></td>
                      <td class="product-add-to-cart">
                        <!-- Date added -->
                        <!-- Add to cart button -->
                        <div class="add-cart">
                          <a title="Add to cart" rel="nofollow" href="http://venusdemo.com/wordpress/pi/product/brigitte-bordeux/?remove_from_wishlist_after_add_to_cart=11943" data-quantity="1" data-product_id="11943" data-product_sku="" class="button product_type_variable add_to_cart_button btn btn-primary">
                            Select options</a></div>
                        <!-- Change wishlist -->
                        <!-- Remove from wishlist -->
                      </td>
                    </tr>
                    <tr id="yith-wcwl-row-11942" data-row-id="11942">
                      <td class="product-remove">
                        <div>
                          <a href="/wordpress/pi/wishlist/?remove_from_wishlist=11942" class="remove remove_from_wishlist" title="Remove this product">×</a>
                        </div>
                      </td>
                      <td class="product-thumbnail">
                        <a href="http://venusdemo.com/wordpress/pi/product/feminine-designs/">
                          <img src="//venusdemo.com/wordpress/pi/wp-content/uploads/2017/03/29-85x95.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" height="95" width="85">
                        </a>
                      </td>
                      <td class="product-name">
                        <a href="http://venusdemo.com/wordpress/pi/product/feminine-designs/">Feminine designs</a>
                      </td>
                      <td class="product-price">
                        <ins>
                          <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>30.0</span>
                        </ins>
                      </td>
                      <td class="product-stock-status">
                        <span class="wishlist-in-stock">In Stock</span></td>

                      <td class="product-add-to-cart">
                        <!-- Date added -->
                        <!-- Add to cart button -->
                        <div class="add-cart">
                          <a title="Add to cart" rel="nofollow" href="http://venusdemo.com/wordpress/pi/product/feminine-designs/?remove_from_wishlist_after_add_to_cart=11942" data-quantity="1" data-product_id="11942" data-product_sku="" class="button product_type_variable add_to_cart_button btn btn-primary">
                            Select options</a></div>
                        <!-- Change wishlist -->
                        <!-- Remove from wishlist -->
                      </td>
                    </tr>
                    <tr id="yith-wcwl-row-11394" data-row-id="11394">

                      <td class="product-remove">
                        <div>
                          <a href="/wordpress/pi/wishlist/?remove_from_wishlist=11394" class="remove remove_from_wishlist" title="Remove this product">×</a>
                        </div>
                      </td>

                      <td class="product-thumbnail">
                        <a href="http://venusdemo.com/wordpress/pi/product/mister-gamberetto/">
                          <img src="//venusdemo.com/wordpress/pi/wp-content/uploads/2017/03/28-85x95.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" height="95" width="85">
                        </a>
                      </td>

                      <td class="product-name">
                        <a href="http://venusdemo.com/wordpress/pi/product/mister-gamberetto/">Mister Gamberetto</a>
                      </td>

                      <td class="product-price">
                        <ins>
                          <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>580.0</span>
                        </ins>
                      </td>

                      <td class="product-stock-status">
                        <span class="wishlist-in-stock">In Stock</span></td>

                      <td class="product-add-to-cart">
                        <!-- Date added -->
                        <!-- Add to cart button -->
                        <div class="add-cart">
                          <a title="Add to cart" rel="nofollow" href="/wordpress/pi/wishlist/?add-to-cart=11394&amp;remove_from_wishlist_after_add_to_cart=11394" data-quantity="1" data-product_id="11394" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn btn-primary">
                            Add to Cart</a></div>
                        <!-- Change wishlist -->
                        <!-- Remove from wishlist -->
                      </td>
                    </tr>
                    <tr id="yith-wcwl-row-11390" data-row-id="11390">

                      <td class="product-remove">
                        <div>
                          <a href="/wordpress/pi/wishlist/?remove_from_wishlist=11390" class="remove remove_from_wishlist" title="Remove this product">×</a>
                        </div>
                      </td>

                      <td class="product-thumbnail">
                        <a href="http://venusdemo.com/wordpress/pi/product/cactus-virginia/">
                          <img src="//venusdemo.com/wordpress/pi/wp-content/uploads/2017/03/26-85x95.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" height="95" width="85">
                        </a>
                      </td>

                      <td class="product-name">
                        <a href="http://venusdemo.com/wordpress/pi/product/cactus-virginia/">Cactus Virginia</a>
                      </td>

                      <td class="product-price">
                        <ins>
                          <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>360.0</span>
                        </ins>
                        <del>
                          <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>450.0</span>
                        </del>
                      </td>

                      <td class="product-stock-status">
                        <span class="wishlist-in-stock">In Stock</span></td>

                      <td class="product-add-to-cart">
                        <!-- Date added -->

                        <!-- Add to cart button -->
                        <div class="add-cart">
                          <a title="Add to cart" rel="nofollow" href="/wordpress/pi/wishlist/?add-to-cart=11390&amp;remove_from_wishlist_after_add_to_cart=11390" data-quantity="1" data-product_id="11390" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn btn-primary">
                            Add to Cart</a></div>
                        <!-- Change wishlist -->

                        <!-- Remove from wishlist -->
                      </td>
                    </tr>
                    <tr id="yith-wcwl-row-11017" data-row-id="11017">

                      <td class="product-remove">
                        <div>
                          <a href="/wordpress/pi/wishlist/?remove_from_wishlist=11017" class="remove remove_from_wishlist" title="Remove this product">×</a>
                        </div>
                      </td>

                      <td class="product-thumbnail">
                        <a href="http://venusdemo.com/wordpress/pi/product/omnis-nisi/">
                          <img src="//venusdemo.com/wordpress/pi/wp-content/uploads/2017/03/25-85x95.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" height="95" width="85">
                        </a>
                      </td>

                      <td class="product-name">
                        <a href="http://venusdemo.com/wordpress/pi/product/omnis-nisi/">Omnis nisi</a>
                      </td>

                      <td class="product-price">
                        <ins>
                          <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>440.0</span>
                        </ins>
                      </td>

                      <td class="product-stock-status">
                        <span class="wishlist-in-stock">In Stock</span></td>

                      <td class="product-add-to-cart">
                        <!-- Date added -->

                        <!-- Add to cart button -->
                        <div class="add-cart">
                          <a title="Add to cart" rel="nofollow" href="/wordpress/pi/wishlist/?add-to-cart=11017&amp;remove_from_wishlist_after_add_to_cart=11017" data-quantity="1" data-product_id="11017" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn btn-primary">
                            Add to Cart</a></div>
                        <!-- Change wishlist -->

                        <!-- Remove from wishlist -->
                      </td>
                    </tr>
                    <tr id="yith-wcwl-row-11015" data-row-id="11015">

                      <td class="product-remove">
                        <div>
                          <a href="/wordpress/pi/wishlist/?remove_from_wishlist=11015" class="remove remove_from_wishlist" title="Remove this product">×</a>
                        </div>
                      </td>

                      <td class="product-thumbnail">
                        <a href="http://venusdemo.com/wordpress/pi/product/quis-esse/">
                          <img src="//venusdemo.com/wordpress/pi/wp-content/uploads/2017/03/23-85x95.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" height="95" width="85">
                        </a>
                      </td>

                      <td class="product-name">
                        <a href="http://venusdemo.com/wordpress/pi/product/quis-esse/">Quis esse</a>
                      </td>

                      <td class="product-price">
                        <ins>
                          <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>320.0</span>
                        </ins>
                        <del>
                          <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>360.0</span>
                        </del>
                      </td>

                      <td class="product-stock-status">
                        <span class="wishlist-in-stock">In Stock</span></td>

                      <td class="product-add-to-cart">
                        <!-- Date added -->

                        <!-- Add to cart button -->
                        <div class="add-cart">
                          <a title="Add to cart" rel="nofollow" href="/wordpress/pi/wishlist/?add-to-cart=11015&amp;remove_from_wishlist_after_add_to_cart=11015" data-quantity="1" data-product_id="11015" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn btn-primary">
                            Add to Cart</a></div>
                        <!-- Change wishlist -->

                        <!-- Remove from wishlist -->
                      </td>
                    </tr>
                    <tr id="yith-wcwl-row-11014" data-row-id="11014">

                      <td class="product-remove">
                        <div>
                          <a href="/wordpress/pi/wishlist/?remove_from_wishlist=11014" class="remove remove_from_wishlist" title="Remove this product">×</a>
                        </div>
                      </td>

                      <td class="product-thumbnail">
                        <a href="http://venusdemo.com/wordpress/pi/product/seppia-virtue/">
                          <img src="//venusdemo.com/wordpress/pi/wp-content/uploads/2017/03/22-85x95.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" height="95" width="85">
                        </a>
                      </td>

                      <td class="product-name">
                        <a href="http://venusdemo.com/wordpress/pi/product/seppia-virtue/">Seppia virtue</a>
                      </td>

                      <td class="product-price">
                        <ins>
                          <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>340.0</span>
                        </ins>
                        <del>
                          <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>560.0</span>
                        </del>
                      </td>

                      <td class="product-stock-status">
                        <span class="wishlist-in-stock">In Stock</span></td>

                      <td class="product-add-to-cart">
                        <!-- Date added -->

                        <!-- Add to cart button -->
                        <div class="add-cart">
                          <a title="Add to cart" rel="nofollow" href="/wordpress/pi/wishlist/?add-to-cart=11014&amp;remove_from_wishlist_after_add_to_cart=11014" data-quantity="1" data-product_id="11014" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn btn-primary">
                            Add to Cart</a></div>
                        <!-- Change wishlist -->

                        <!-- Remove from wishlist -->
                      </td>
                    </tr>
                    <tr id="yith-wcwl-row-11016" data-row-id="11016">

                      <td class="product-remove">
                        <div>
                          <a href="/wordpress/pi/wishlist/?remove_from_wishlist=11016" class="remove remove_from_wishlist" title="Remove this product">×</a>
                        </div>
                      </td>

                      <td class="product-thumbnail">
                        <a href="http://venusdemo.com/wordpress/pi/product/felafel-dreaming/">
                          <img src="//venusdemo.com/wordpress/pi/wp-content/uploads/2017/03/24-85x95.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" height="95" width="85">
                        </a>
                      </td>

                      <td class="product-name">
                        <a href="http://venusdemo.com/wordpress/pi/product/felafel-dreaming/">Felafel Dreaming</a>
                      </td>

                      <td class="product-price">
                        <ins>
                          <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>340.0</span>
                        </ins>
                        <del>
                          <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>440.0</span>
                        </del>
                      </td>

                      <td class="product-stock-status">
                        <span class="wishlist-in-stock">In Stock</span></td>

                      <td class="product-add-to-cart">
                        <!-- Date added -->

                        <!-- Add to cart button -->
                        <div class="add-cart">
                          <a title="Add to cart" rel="nofollow" href="/wordpress/pi/wishlist/?add-to-cart=11016&amp;remove_from_wishlist_after_add_to_cart=11016" data-quantity="1" data-product_id="11016" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart btn btn-primary">
                            Add to Cart</a></div>
                        <!-- Change wishlist -->

                        <!-- Remove from wishlist -->
                      </td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                      <td colspan="6">


                      </td>
                    </tr>
                    </tfoot>

                  </table>

                  <input id="yith_wcwl_edit_wishlist" name="yith_wcwl_edit_wishlist" value="b1515de680" type="hidden"><input name="_wp_http_referer" value="/wordpress/pi/wishlist/" type="hidden">
                  <input value="" name="wishlist_id" id="wishlist_id" type="hidden">


                </form>


              </div><!-- .entry-content -->
            </article><!-- #post-## -->

          </div><!-- #content -->
        </div><!-- #primary -->

      </div><!-- #main-content -->

    </div>
  </section>
</section>