<tr>
  <td>product-name</td>
  <td class='text-center'>product-quantity</td>
  <td class='actions actions-1 text-center'>
    <button class='icon_link btn btn-danger btn-sm transfer_remove_product' data-product-id='product_id'>
      <span class='fa fa-times' data-product-id='product_id'></span>
    </button>
    <input type='hidden' id='product[]' name='product[]' value='product_id'>
    <input type='hidden' id='quantity[]' name='quantity[]' value='product-quantity'>
  </td>
</tr>